.content-tool-bar{
    display:flex;
    align-items:center;
    padding:0rem 1.25rem;
    margin-bottom: 0.75rem;
    .c-icon{
        width:1.5rem !important;
        height:1.5rem !important;
        cursor: pointer;
        transition: all 0.2s;
        &:hover{
            transform: scale(1.2, 1.2);
        }
    }
    .count{
        margin:0rem 0.3rem;
    }
}