.comment-list{
    margin-bottom: 1rem;
}

.load-more{
    margin: 0rem 1.25rem 0.5rem 1.25rem;
    display: flex;
    text-align: center;
    cursor: pointer;
    justify-content:center;
    align-items: center;
    &:hover{
        font-weight: bold;
    }
    .rotate{
        font-size:1.1rem;
        margin-bottom:-0.2rem;
        -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
        
    }
}