@import "../../shared_components/scss/style.scss";
@keyframes showInTeamItem {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@mixin TeamItemAppear {
    transition: all 0.3s ease-out;
    transform: scale(0);
    animation-name: showInTeamItem;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 0.2s;
    transform-origin: left;
}
.list-team-container {
    padding: 1.5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .header-tool-bar {
        @include HeaderToolBar;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1.5rem;
        margin-left: 1.5rem;

        .join-team-btn {
            margin-bottom: 0.5rem;
            .c-icon {
                margin-right: 0.2rem;
                margin-top: -0.2rem;
            }
            .icon-goin {
                width: 0.8rem;
                height: 0.8rem;
                margin-right: -0.1rem;
            }
            .icon-group {
                width: 1rem;
                height: 1rem;
                margin-top: -0.1rem;
                margin-right: 0.25rem;
            }
        }
        .create-team-btn {
            margin-left: 0.5rem;
            margin-bottom: 0.5rem;
            .c-icon {
                margin-right: 0.1rem;
                margin-top: -0.1rem;
            }
        }
    }
    .table-view-container {
        width: 100%;
        padding: 0rem 1.5rem;
        padding-top: 0.7rem;
        .table-content {
            padding: 0.5rem;
            background-color: white;
            width: 100%;
            border: 1px solid #e6ebf1;
            border-radius: 0.625rem;
            .table {
                thead {
                    tr {
                        th {
                            border: none;
                            background-color: white;
                        }
                    }
                    tr.table-sm {
                        th {
                            padding-bottom: 0.5rem;
                        }
                    }
                }
                tbody {
                    tr {
                        @include TeamItemAppear;
                        cursor: pointer;
                    }
                }
            }
            .c-avatar {
                img {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50px;
                }
            }
            .team-cell {
                display: flex;
                align-items: center;
                .team-avatar {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50px;
                    margin-right: 0.5rem;
                }
                .team-name {
                    font-weight: bold;
                }
            }

            .leader-cell {
                display: flex;
                align-items: center;
                .team-leader-avatar {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50px;
                    margin-right: 0.5rem;
                }
            }
            .tasks-cell {
                .tasks-count {
                    text-align: center;
                }
            }
        }
    }

    .grid-view-container {
        width: 100%;
        height: 100%;
        .grid-view {
            background-color: transparent;
            display: flex;
            flex-wrap: wrap;
            margin: 0rem 1rem;
            width: auto;
            .grid-item-container {
                padding: 0.7rem;
                @include TeamItemAppear;
                .item-content {
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0.8rem;
                    border-radius: 0.625rem;
                    border: 1px solid #e6ebf1;
                    transition: $baseTransition;
                    //cursor: pointer;

                    .team-header {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        .header-actions-dropdown {
                            .dropdown-toggle.btn {
                                @include DropdownToggleButtonStyle;
                            }
                            .dropdown-menu.show {
                                @include DropdownMenuStyle;
                                .dropdown-item {
                                    .dropdown-icon-group {
                                        display: flex;
                                        flex-direction: column;
                                        .rotate-45 {
                                            transform: rotate(45deg);
                                            margin-top: -1.3rem;
                                            margin-left: 0.15rem;
                                            width: 1.2rem;
                                            height: 1.2rem;
                                        }
                                    }
                                    .special-text {
                                        margin-left: -0.5rem !important;
                                    }
                                }
                            }
                        }
                    }
                    .team-infor {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-top: -0.8rem;
                        width: 100%;
                        .team-avatar {
                            width: 7rem;
                            height: 7rem;
                            border-radius: 100px;
                            margin-bottom: 0.5rem;
                        }
                        .team-name {
                            font-weight: bold;
                            width: 100%;
                            text-align: center;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: pre;
                        }
                        .team-description {
                            color: #768192;
                            font-size: 95%;
                            width: 100%;
                            padding: 0 1rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: pre;
                            text-align: center;
                        }
                    }
                    .team-detail-infor {
                        margin-top: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        .member-infor {
                            display: flex;
                            align-items: center;
                            //margin-right: 0.5rem;
                            .c-icon {
                                margin-right: 0.2rem;
                            }
                            .member-count {
                            }
                        }
                        .divider {
                            width: 1.2px;
                            height: 18px;
                            background-color: #3c4b64;
                            margin: 0rem 0.5rem;
                        }

                        .leader-infor {
                            display: flex;
                            align-items: center;
                            overflow-x: hidden;
                            .icon-group {
                                display: flex;
                                margin-right: 0.1rem;
                                align-items: center;
                            }
                            img {
                                width: 1.5rem;
                                height: 1.5rem;
                                border-radius: 50px;
                                margin-right: 0.2rem;
                            }
                            .leader-name {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: pre;
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                    .team-action {
                        @include NormalButtonStyle;
                        margin-top: 1rem;
                        font-weight: bold;
                        border-radius: 50px;
                        width: 80%;
                    }
                    &:hover {
                        border-color: transparent;
                        box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
                            0 5px 12px 4px rgb(0 0 0 / 9%);
                    }
                }
            }
        }
    }
}
