.team-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .nav-tabs {
        display: flex;
        justify-content: space-between;
        border: none;
        .nav-item {
            flex-grow: 1;
            flex: 1 1 0;
            margin: 0rem 0.2rem;
            .nav-link {
                border-radius: 0.625rem;
                color: #3c4b64;
                display: flex;
                justify-content: center;
                align-items: center;
                .c-icon {
                    margin-right: 0.2rem;
                }
                .tab-name {
                    margin-left: 0.2rem;
                }
                &:hover {
                    color: rgba(0, 0, 21, 0.9);
                }
            }
            .nav-link.active {
                //color: rgba(0, 0, 21, 0.9);
                // background-color: white;
                // border-bottom-color: white;
                margin-bottom: 0.5rem;

                /* border-color: #c4c9d0 #c4c9d0 #ebedef #ebedef; */
                border: 1px solid #ebedef;
                background-color: #3c4b64;
                color: white;
            }
        }
    }
    .tab-content {
        border: none;
        flex-grow: 1;
        //padding: 1rem;
        overflow-y: hidden;
        display: flex;
        border-radius: 0.625rem;
        background-color: white;
        .tab-pane {
            flex-grow: 1;
            .chat-page-container {
                padding: 0;
                position: relative;
            }
        }
    }
}
