.team-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    position: absolute;
    width: 100%;
    .nav-tabs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: none;
        margin-left: 1rem;
        padding: 0rem 0rem 0rem 0.5rem !important;
        //padding-right: 0rem !important;
        border: 1px solid transparent;
        border-radius: 0.625rem;
        background-color: transparent;
        // & .nav-item:not(:first-child):not(:last-child) {
        //     margin: 0rem 1rem;
        // }
        // & .nav-item:first-child {
        //     margin: 0rem 1rem 0rem 0rem;
        // }
        // & .nav-item:last-child {
        //     margin: 0rem 0rem 0rem 1rem;
        // }

        .nav-item {
            // flex-grow: 1;
            // flex: 1 1 0;
            //margin: 0rem 1rem;
            .nav-link {
                border-radius: 0.625rem;
                border: 1px solid rgba(#3c4b64, 0.5);
                color: #3c4b64;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 3rem;
                height: 3rem;
                margin-bottom: 1rem;
                .c-icon {
                    //margin-right: 0.2rem;
                    width: 1.3rem;
                    height: 1.3rem;
                }
                .tab-name {
                    margin-left: 0.2rem;
                    display: none;
                }
                &:hover {
                    color: #3e79f7;
                    border-color: #3e79f7;
                }
            }
            .nav-link.active {
                //color: rgba(0, 0, 21, 0.9);
                // background-color: white;
                // border-bottom-color: white;
                //margin-bottom: 1rem;

                /* border-color: #c4c9d0 #c4c9d0 #ebedef #ebedef; */
                border: 1px solid #ebedef;
                background-color: #3e79f7;
                color: white;
            }
        }
    }
    .tab-content {
        border: none;
        flex-grow: 1;
        //padding: 1rem;
        overflow-y: scroll;
        display: flex;
        border-radius: 0.625rem;
        //background-color: white;
        padding: 0rem;
        .tab-pane {
            position: relative;
            flex-grow: 1;
            .kanban-board-container {
                padding: 0;
                background-color: #fafafb;
            }
            .chat-page-container {
                padding: 0;
                position: relative;
            }
            .newsfeed-page-container {
                padding: 0;
                .side-panel-container {
                    width: 30rem;
                }
            }
        }
    }
}
