//@import "../../shared_components/scss/style.scss";
//========================================
//border
$borderStyle: 1px solid #e6ebf1;
$borderRadius: 0.625rem;

//color
$baseColor: #3e79f7;
$lighterBaseColor: #ebf1fe;
$darkerBaseColor: #3363ca;
$successColor: #2eb85c;
$errorColor: #e55353;
$infoColor: #3399ff;

//background color
$backgroundColorApp: #fafafb;

//text
$textColor: #3c4b64;
$subTextColor: #768192;

//animation
$baseTransition: all 0.3s;

// Here you can add other styles
@mixin background-color-theme {
    background: #3e79f7;
}
@mixin PaddingForLeftPanel {
    padding: 2rem 1rem 2rem 2rem;
    @media (max-width: 992px) {
        padding: 1rem 0.5rem 1rem 1rem;
    }
}
@mixin PaddingForRightPanel {
    padding: 2rem 2rem 2rem 1rem;
    @media (max-width: 992px) {
        padding: 1rem 1rem 1rem 0.5rem;
    }
}

@mixin SideBarItemNormal {
    background-color: white;
    color: #3c4b64;
    font-weight: 500;
    border: none;
    .c-sidebar-nav-icon {
        color: #3c4b64;
    }
}
@mixin SideBarItemSelected {
    color: #3e79f7 !important;
    background-color: #ebf1fe;
    border-right: 3px solid #3e79f7 !important;
    .c-sidebar-nav-icon {
        color: #3e79f7;
    }
}
@mixin SideBarItemHover {
    color: #3e79f7 !important;
    background-color: #ebf1fe !important;

    .c-sidebar-nav-icon {
        color: #3e79f7 !important;
    }
}

@mixin CardStyle {
    background-color: white;
    padding: 1rem;
    border-radius: $borderRadius;
    border: $borderStyle;
}

//text

@mixin TitleStyle {
    font-weight: bold;
    font-size: 110%;
}
@mixin SubTextStyle {
    font-size: 90%;
    color: $subTextColor;
}

//buttons
@mixin TimelineModeGroupButton {
    .btn-group {
        transition: $baseTransition;
        .btn {
            padding: 0.3rem 0.6rem;
            border-color: #5186f8;
            color: #5186f8;
            transition: $baseTransition;
            &:hover {
                background-color: #ebf1fe;
            }
            &.active {
                background-color: #5186f8;
                color: white;
            }
            &:focus {
                box-shadow: 0 0 0 0.2rem #ebf1fe;
            }
            &:first-child {
                border-top-left-radius: $borderRadius;
                border-bottom-left-radius: $borderRadius;
            }
            &:last-child {
                border-top-right-radius: $borderRadius;
                border-bottom-right-radius: $borderRadius;
            }
        }
    }
}

@mixin NormalButtonStyle {
    background-color: $baseColor;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: $borderRadius;
    transition: $baseTransition;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: $darkerBaseColor;
    }
}

@mixin DropdownToggleButtonStyle {
    background-color: transparent;
    outline: none;
    border-radius: 50px;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .c-icon {
        color: $textColor;
    }
    &::after {
        display: none;
    }
    &:focus {
        outline: 0;
        box-shadow: none;
    }
    &:hover {
        background-color: #e4e6e9;
    }
}

//menus
@mixin DropdownMenuStyle {
    z-index: 1000;
    margin-top: -0.3rem !important;
    margin-left: -1.5rem !important;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    border-radius: $borderRadius;
    padding: 0;
    .dropdown-item {
        display: flex;
        align-items: center;
        .c-icon {
            margin-right: 0.5rem;
            width: 0.8rem;
            height: 0.8rem;
            &.icon-delete {
                width: 1rem;
                height: 1rem;
            }
        }
        &:first-child:hover {
            background-color: #f5f5f5;
            border-top-left-radius: $borderRadius;
            border-top-right-radius: $borderRadius;
        }
        &:last-child:hover {
            background-color: #f5f5f5;
            border-bottom-left-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }
    }
}

//header
@mixin HeaderToolBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    .normal-btn {
        @include NormalButtonStyle;
    }
    .show-mode {
        width: fit-content;
        justify-content: flex-end;
        margin-bottom: 0.5rem;
        display: flex;
        padding-right: 0;
        margin-left: 0.5rem;
        .mode-btn {
            width: 3rem;
            max-width: 3rem;
            border: $borderStyle;
            background-color: transparent;
            margin-right: 0.6px;
            transition: $baseTransition;
            &.active {
                border-color: $baseColor;
            }
            &.first {
                margin-right: 1px;
                border-top-left-radius: $borderRadius;
                border-bottom-left-radius: $borderRadius;
            }
            &.last {
                border-top-right-radius: $borderRadius;
                border-bottom-right-radius: $borderRadius;
            }
        }
    }
}

@mixin ShowMode {
    width: fit-content;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
    display: flex;
    padding-right: 0;
    margin-left: 0.5rem;
    .mode-btn {
        width: 3rem;
        max-width: 3rem;
        border: $borderStyle;
        background-color: transparent;
        margin-right: 0.6px;
        transition: $baseTransition;
        &.active {
            border-color: $baseColor;
        }
        &.first {
            margin-right: 1px;
            border-top-left-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
        }
        &.last {
            margin-left: 0.5px;
            border-top-right-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }
    }
}

//========================================
@keyframes showInGroupItem {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@mixin ListGroupItemApear {
    transition: all 0.3s ease-out;
    transform: scale(0);
    animation-name: showInGroupItem;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 0.2s;
    transform-origin: left;
}

.newsfeed-page-container {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    @media (max-width: 576px) {
        padding: 1rem;
    }
    .post-list-col,
    .post-list-inside-col {
        padding: 0;
    }
    .row {
        width: 100%;
    }
    .row-inside-list-post {
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-left: 0;
    }
    .post-list-container {
        //flex-grow: 1;
        //width: 2rem;
        //margin-right: 1rem;
    }
    .side-panel-col {
        padding: 0;
        .side-panel-container {
            .create-post-btn {
                border: $borderStyle;
                border-radius: $borderRadius;
                transition: $baseTransition;
                cursor: pointer;
                padding: 1rem;
                background-color: white;
                display: flex;
                align-items: center;
                z-index: 1000 !important;
                justify-content: space-between;
                margin-bottom: 1rem;
                .title {
                    .c-icon {
                        width: 1.3rem;
                        height: 1.3rem;
                        margin-right: 0.5rem;
                    }
                }
                .expand-icon {
                    transition: $baseTransition;
                    width: 1.2rem;
                    height: 1.2rem;
                }
                &:hover {
                    background-color: $lighterBaseColor;
                    color: $baseColor;
                }
            }

            .toggle-filter-btn {
                border: $borderStyle;
                border-radius: $borderRadius;

                transition: $baseTransition;
                cursor: pointer;
                padding: 1rem;
                background-color: white;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                border-bottom: none;
                display: flex;
                align-items: center;
                z-index: 1000 !important;
                justify-content: space-between;
                .title {
                    .c-icon {
                        width: 1.3rem;
                        height: 1.3rem;
                        margin-right: 0.5rem;
                    }
                }
                .expand-icon {
                    transition: $baseTransition;
                    width: 1.2rem;
                    height: 1.2rem;
                }
                &:hover {
                    background-color: $lighterBaseColor;
                    color: $baseColor;
                }
            }
            .post-group-list-container {
                padding: 1rem;
                background-color: white;
                border-radius: $borderRadius;
                border: $borderStyle;
                margin-top: 1rem;
                .group-list-title {
                    font-weight: 550;
                }
                .post-group-item {
                    @include ListGroupItemApear;
                    display: flex;
                    align-items: center;
                    margin-top: 0.5rem;
                    cursor: pointer;
                    border-radius: 10px;
                    padding: 0.5rem;
                    transition: $baseTransition;
                    &:hover {
                        background-color: $lighterBaseColor;
                    }
                    .group-avatar {
                        width: 2rem;
                        height: 2rem;
                        img {
                            width: inherit;
                            height: inherit;
                            border-radius: 50px;
                        }
                    }
                    .group-infor {
                        display: flex;
                        flex-direction: column;
                        width: 1rem;
                        flex-grow: 1;
                        margin-left: 0.5rem;
                        .group-name {
                            font-weight: 550;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: pre;
                        }
                        .group-member-count {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: pre;
                            font-size: 85%;
                            color: rgba(0, 0, 0, 0.5);
                        }
                    }
                    .group-new-count {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }

    .modal-dialog {
        margin-top: 5rem;
        .modal-content {
            border-radius: 0.625rem;
            .groups-select {
            }
            .DraftEditor-root {
                border: none;
            }
            .input-post {
                border: none;
                outline: none;
                width: 100%;
            }
            .list-images-container {
                display: flex;
                height: 10rem;
                overflow-x: auto;
                margin-top: 0.5rem;
                padding-bottom: 0.2rem;
                .img-container {
                    position: relative;
                    display: contents;
                    img {
                        //height: 50%;
                        //width: 5rem;
                        //height: 5rem;

                        margin-left: 1rem;
                        border-radius: 0.5rem;
                        margin-right: 0.5rem;
                    }
                    .delete-img-btn {
                        //position: absolute;
                        background: rgba(#000000, 0.3);
                        right: 0.5rem;
                        top: 0.5rem;
                        color: white;
                        padding: 0.3rem;
                        border-radius: 50px;
                        width: 1.5rem;
                        height: 1.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        margin-left: -2.5rem;
                        margin-top: 0.5rem;
                        &:hover {
                            transform: scale(1.2);
                        }
                        .c-icon {
                        }
                    }
                }
                .img-container:first-child {
                    img {
                        margin-left: 0;
                    }
                }
            }
            .add-image-btn-container {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                align-items: center;
                margin-top: 0.5rem;

                .add-image-btn {
                    cursor: pointer;
                    width: fit-content;
                    background-color: rgba(#cccccc, 0.7);

                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                    .c-icon {
                        margin-right: 0.3rem;
                        width: 1.2rem;
                        height: 1.2rem;
                        margin-top: -0.2rem;
                    }
                    &:hover {
                        background-color: rgba(#cccccc, 1);
                    }
                }
            }
            .submit-btn {
                width: 100%;
                @include NormalButtonStyle;
            }
        }
    }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 10000 !important;
}

.input-post::-webkit-scrollbar {
    width: 0.3rem;
}

/* Track */
.input-post::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.input-post::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
}

/* Handle on hover */
.input-post::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.list-images-container::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

/* Track */
.list-images-container::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.list-images-container::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
}

/* Handle on hover */
.list-images-container::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.button-close {
    position: absolute;
    top: 5;
    left: 90%;
}
