.k-post{
    display:flex;
    .k-post-content{
        padding-right:15rem
    }
    .k-post-tool{
        position:fixed;
        right:30px;
        //bottom:2rem;
        width:14rem;
        //overflow: scroll;
    }
    @media (max-width:768px){
        .k-post-content{
            
        }
        .k-post-tool{
            right:15px;
        }
    }
    @media (max-width:576px){
        .k-post-content{
            padding-right:0px;
        }
        .k-post-tool{
            display:none;
        }
    }
}