@import "../../shared_components/scss/style.scss";

.news-page-container{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    .row{
        width: inherit;
        height:inherit;
        margin:0px;
        overflow-y: scroll;
        position: relative;
        .post-list{
            height:inherit;
            
            @include PaddingForLeftPanel;
            .card-1{
                margin:0px;
                height:inherit;
                background-color:transparent;
                border: none;
            }
        }
        .filter-tool{
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            height:inherit;
            overflow:hidden;
            @include PaddingForRightPanel;
            .card-2{
                margin:0px;
                height:inherit;
                border-radius: 10px;
            }
        }
    }
}



.row-content::-webkit-scrollbar {
    width: 0.8rem;
}
  
  /* Track */
  .row-content::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .row-content::-webkit-scrollbar-thumb {
    background: #A8A8A8; 
    border-radius: 10px;
    border: 2px solid #EBEDEF;
  }
  
  /* Handle on hover */
  .row-content::-webkit-scrollbar-thumb:hover {
    background: #565656; 
  }
