@keyframes showInKanbanCard {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@mixin KanbanCardAppear {
    transition: all 0.1s ease-out;
    transform: scale(0);
    animation-name: showInKanbanCard;
    animation-duration: 0.15s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 0.1s;
    transform-origin: left;
}

.card-container {
    .card-component {
        background-color: white;
        border-radius: 5px;
        margin: 0.2rem 0.8rem 1rem 0.8em;
        //margin-bottom: 1rem;

        padding: 0.8rem;
        cursor: pointer;
        border: 1px solid #e6ebf1;
        border-radius: 0.625rem;

        &:hover {
            border-color: transparent;
            box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
        }
        .card-image-label {
            margin-bottom: 0.5rem;
            img {
                height: 7rem;
                width: 100%;
                border-radius: 0.625rem;
            }
        }
        .card-header {
            padding: 0;
            margin: 0;
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title {
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre;
            }
            .edit-icon {
                display: none;
                margin: 0;
                padding: 0;

                border-radius: 3px;
                cursor: pointer;
                .c-icon {
                    margin: 0.4rem;
                    display: none;
                }
                &:hover {
                    background-color: #cccccc;
                }
            }
        }
        .card-labels {
            margin-top: 0.5rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 500;
            .deadline {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0.1rem 0.5rem;
                border-radius: 5px;
                margin-right: 0.5rem;
                background-color: #f7f7f8;
                color: #3c4b64;
                border: 1px solid #e6ebf1;
                .deadline-icon {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-right: 0.5rem;
                }
                .date {
                    font-size: 90%;
                }
            }
            .card-status {
                background-color: #61bd4f;
                color: white;
                padding: 0.15rem 0.5rem;
                border-radius: 5px;
                font-size: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre;
            }
        }
        .card-infor {
            margin-top: 0.3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .infor-group {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .comment-infor {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-right: 0.5rem;
                    .comment-icon {
                        margin-right: 0.2rem;
                        .c-icon {
                            width: 1rem;
                            height: 1rem;
                            //color: #f6da53;
                        }
                    }
                    .comment-count {
                    }
                }
                .attachment-infor {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .attachment-icon {
                        margin-right: 0.2rem;
                        .c-icon {
                            width: 1rem;
                            height: 1rem;
                            //color: #f6da53;
                        }
                    }
                    .attachment-count {
                    }
                }
            }
            .user-assign-avatar {
                img {
                    border-radius: 50px;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
        .card-progress {
            margin-top: 0.3rem;
            display: flex;
            align-items: center;
            .progress {
                width: 1rem;
                flex-grow: 1;
                height: 0.5rem;

                .progress-bar {
                    background-color: #f16f81;
                }
            }
            .progress-text {
                margin-left: 0.5rem;
            }
        }
    }

    .card-component:hover {
        .card-header {
            .edit-icon {
                display: block;
            }
        }
    }
}
