.breadcrumbs-container {
    display: flex;
    align-items: center;
    margin: 0rem 2rem 0rem 0.5rem;
    flex-wrap: wrap;
    .breadcrumb-item {
        display: flex;
        align-items: center;
        color: #3e79f7;
        padding: 0 !important;
        margin: 0.5rem 0rem;
        margin-right: 0.5rem;
        .breadcrumb-content {
            display: flex;
            align-items: center;
            margin-right: 0.5rem;
            background-color: #ebf1fe;
            padding: 0.25rem 1rem;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.2s;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .home-icon {
                margin-right: 0.2rem;
                width: 1.1rem;
                height: 1.1rem;
            }
            &:hover {
                background-color: #d4e1fe;
            }
        }
        .arrow-icon {
        }
        &::before {
            display: none;
        }
        &:last-child {
            .breadcrumb-content {
                cursor: initial;
                background-color: white;
                padding: 0.25rem 0rem;
                // &:hover {
                //     text-decoration: underline;
                // }
            }
            .arrow-icon {
                display: none;
            }
        }
    }
}
