//@import "../../../shared_components/scss/style.scss";
//========================================
//border
$borderStyle: 1px solid #e6ebf1;
$borderRadius: 0.625rem;

//color
$baseColor: #3e79f7;
$lighterBaseColor: #ebf1fe;
$darkerBaseColor: #3363ca;
$successColor: #2eb85c;
$errorColor: #e55353;
$infoColor: #3399ff;

//background color
$backgroundColorApp: #fafafb;

//text
$textColor: #3c4b64;
$subTextColor: #768192;

//animation
$baseTransition: all 0.3s;

// Here you can add other styles
@mixin background-color-theme {
    background: #3e79f7;
}
@mixin PaddingForLeftPanel {
    padding: 2rem 1rem 2rem 2rem;
    @media (max-width: 992px) {
        padding: 1rem 0.5rem 1rem 1rem;
    }
}
@mixin PaddingForRightPanel {
    padding: 2rem 2rem 2rem 1rem;
    @media (max-width: 992px) {
        padding: 1rem 1rem 1rem 0.5rem;
    }
}

@mixin SideBarItemNormal {
    background-color: white;
    color: #3c4b64;
    font-weight: 500;
    border: none;
    .c-sidebar-nav-icon {
        color: #3c4b64;
    }
}
@mixin SideBarItemSelected {
    color: #3e79f7 !important;
    background-color: #ebf1fe;
    border-right: 3px solid #3e79f7 !important;
    .c-sidebar-nav-icon {
        color: #3e79f7;
    }
}
@mixin SideBarItemHover {
    color: #3e79f7 !important;
    background-color: #ebf1fe !important;

    .c-sidebar-nav-icon {
        color: #3e79f7 !important;
    }
}

@mixin CardStyle {
    background-color: white;
    padding: 1rem;
    border-radius: $borderRadius;
    border: $borderStyle;
}

//text

@mixin TitleStyle {
    font-weight: bold;
    font-size: 110%;
}
@mixin SubTextStyle {
    font-size: 90%;
    color: $subTextColor;
}

//buttons
@mixin TimelineModeGroupButton {
    .btn-group {
        transition: $baseTransition;
        .btn {
            padding: 0.3rem 0.6rem;
            border-color: #5186f8;
            color: #5186f8;
            transition: $baseTransition;
            &:hover {
                background-color: #ebf1fe;
            }
            &.active {
                background-color: #5186f8;
                color: white;
            }
            &:focus {
                box-shadow: 0 0 0 0.2rem #ebf1fe;
            }
            &:first-child {
                border-top-left-radius: $borderRadius;
                border-bottom-left-radius: $borderRadius;
            }
            &:last-child {
                border-top-right-radius: $borderRadius;
                border-bottom-right-radius: $borderRadius;
            }
        }
    }
}

@mixin NormalButtonStyle {
    background-color: $baseColor;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: $borderRadius;
    transition: $baseTransition;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: $darkerBaseColor;
    }
}

@mixin DropdownToggleButtonStyle {
    background-color: transparent;
    outline: none;
    border-radius: 50px;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .c-icon {
        color: $textColor;
    }
    &::after {
        display: none;
    }
    &:focus {
        outline: 0;
        box-shadow: none;
    }
    &:hover {
        background-color: #e4e6e9;
    }
}

//menus
@mixin DropdownMenuStyle {
    z-index: 1000;
    margin-top: -0.3rem !important;
    margin-left: -1.5rem !important;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    border-radius: $borderRadius;
    padding: 0;
    .dropdown-item {
        display: flex;
        align-items: center;
        .c-icon {
            margin-right: 0.5rem;
            width: 0.8rem;
            height: 0.8rem;
            &.icon-delete {
                width: 1rem;
                height: 1rem;
            }
        }
        &:first-child:hover {
            background-color: #f5f5f5;
            border-top-left-radius: $borderRadius;
            border-top-right-radius: $borderRadius;
        }
        &:last-child:hover {
            background-color: #f5f5f5;
            border-bottom-left-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }
    }
}

//header
@mixin HeaderToolBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    .normal-btn {
        @include NormalButtonStyle;
    }
    .show-mode {
        width: fit-content;
        justify-content: flex-end;
        margin-bottom: 0.5rem;
        display: flex;
        padding-right: 0;
        margin-left: 0.5rem;
        .mode-btn {
            width: 3rem;
            max-width: 3rem;
            border: $borderStyle;
            background-color: transparent;
            margin-right: 0.6px;
            transition: $baseTransition;
            &.active {
                border-color: $baseColor;
            }
            &.first {
                margin-right: 1px;
                border-top-left-radius: $borderRadius;
                border-bottom-left-radius: $borderRadius;
            }
            &.last {
                border-top-right-radius: $borderRadius;
                border-bottom-right-radius: $borderRadius;
            }
        }
    }
}

@mixin ShowMode {
    width: fit-content;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
    display: flex;
    padding-right: 0;
    margin-left: 0.5rem;
    .mode-btn {
        width: 3rem;
        max-width: 3rem;
        border: $borderStyle;
        background-color: transparent;
        margin-right: 0.6px;
        transition: $baseTransition;
        &.active {
            border-color: $baseColor;
        }
        &.first {
            margin-right: 1px;
            border-top-left-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
        }
        &.last {
            margin-left: 0.5px;
            border-top-right-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }
    }
}

//========================================
$animation-offset: 0s;
@keyframes showInTableRow {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@mixin TableRowAppear {
    transition: all 0.3s ease-out;
    transform: scale(0);
    animation-name: showInTableRow;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    transform-origin: left;
}

.list-file-table-container {
    @include CardStyle;
    height: auto;
    .upload-container {
        @include NormalButtonStyle;
        justify-content: flex-start;
        width: fit-content;
        .icon-upload {
            width: 1.1rem;
            height: 1.1rem;
            margin-right: 0.1rem;
        }
    }
    .row.my-2.mx-0 {
        display: flex;
        justify-content: flex-start;
        .col-sm-6 {
            max-width: max-content !important;
        }
        .form-inline.c-datatable-filter {
            margin-right: 1.5rem;
        }
    }
    .table {
        border-collapse: separate;
        border-spacing: 0rem 0.3rem;

        border: none;
        thead {
            tr {
                th {
                    border: none;
                    input.form-control {
                        border-color: $subTextColor;
                    }
                }
            }
        }
        tbody {
            border: none;

            tr:nth-child(1) {
                animation-delay: $animation-offset + 0.2s;
            }
            tr:nth-child(2) {
                animation-delay: $animation-offset + 0.3s;
            }
            tr:nth-child(3) {
                animation-delay: $animation-offset + 0.4s;
            }
            tr:nth-child(4) {
                animation-delay: $animation-offset + 0.5s;
            }
            tr:nth-child(5) {
                animation-delay: $animation-offset + 0.6s;
            }
            tr.p-0 {
                display: none;
            }
            td {
                vertical-align: middle;
                padding: 0.5rem 1rem;
                border: 1px solid $textColor;
                border: 1px solid $subTextColor;
                border-left: none;
                border-right: none;
                &:first-child {
                    border-left: 1px solid $textColor;
                    border-left: 1px solid $subTextColor;
                    //border-top-left-radius: 50px;
                    //border-bottom-left-radius: 50px;
                    border-top-left-radius: $borderRadius;
                    border-bottom-left-radius: $borderRadius;
                }
                &:last-child {
                    border-right: 1px solid black;
                    border-right: 1px solid $subTextColor;
                    border-top-right-radius: $borderRadius;
                    border-bottom-right-radius: $borderRadius;
                }
                .actions-group {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    .download-btn-container {
                        margin-right: 0.5rem;
                        .download-btn {
                            height: 1.5rem;
                            width: 1.5rem;
                            color: $textColor;
                            &:hover {
                                cursor: pointer;
                                transition: all 0.1s;
                                color: black;
                                transform: scale(1.2);
                                // .download-action {

                                // }
                            }
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .overlay-div {
                                z-index: 2;
                                width: 0.5rem;
                                height: 5px;
                                background-color: white;
                                margin-bottom: -0.2rem;
                                transition: all 0.3s ease-out;
                            }
                            .arrow-icon {
                                margin-bottom: -0.6rem;
                            }
                        }
                    }
                    .share-btn-container {
                        margin-bottom: -0.1rem;
                        &:hover {
                            cursor: pointer;
                            transition: all 0.1s;
                            color: black;
                            transform: scale(1.2);
                        }
                    }
                }

                .file-name {
                    font-weight: bold;
                }
                .owner {
                    display: flex;
                    align-items: center;
                    .owner-image {
                        width: 1.7rem;
                        height: 1.7rem;
                        border-radius: 50px;
                        margin-right: 0.5rem;
                    }
                }
                .type {
                    display: flex;
                    align-items: center;
                    .type-image {
                        width: 1.7rem;
                        height: 1.7rem;
                        margin-right: 0.5rem;
                    }
                }
            }
            tr {
                @include TableRowAppear;
                &:hover {
                    td {
                        .download-btn-container {
                            .download-btn {
                                .overlay-div {
                                    background-color: #ececee !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pagination {
        .page-item {
            .page-link {
                color: $textColor;
            }
        }
        .page-item.active {
            .page-link {
                background-color: $textColor;
                color: white;
            }
        }
    }

    #snackbar {
        visibility: visible;
        min-width: 250px;
        background-color: #de313c;
        color: #fff;
        text-align: left;
        border-radius: 2px;
        padding: 16px;
        border-radius: 4px;
        position: fixed;

        /* To be displayed above 
           Parent HTML DOM element  */
        z-index: 1;
        right: 10px;
        bottom: 10px;
        animation: fadein 0.5s, fadeout 0.5s 4.5s;
    }

    /* when the Snackbar Appears */
    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    /* when the Snackbar Disappears
       from the Screen */
    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }
}
.no-item-view-table {
    .nodata-image {
        margin: 1.5rem !important;
    }
}

.pagination-team-files {
    display: flex;
    justify-content: center;
    .pagination {
        margin-bottom: 0;
        .page-item {
            width: 2.3rem;
            height: 2.3rem;
            margin: 0rem 0.2rem;
            border-radius: 50px;
            .page-link {
                text-align: center;
                border-radius: 50px !important;
                width: 2.3rem;
                height: 2.3rem;
                color: $textColor;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &.active {
                .page-link {
                    background-color: $textColor;
                    color: white;
                    border-color: $textColor;
                }
            }
        }
    }
}

.tab-content::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

/* Track */
.tab-content::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.tab-content::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
}

/* Handle on hover */
.tab-content::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}
