//border
$borderStyle: 1px solid #e6ebf1;
$borderRadius: 0.625rem;

//color
$baseColor: #3e79f7;
$lighterBaseColor: #ebf1fe;
$darkerBaseColor: #3363ca;
$successColor: #2eb85c;
$errorColor: #e55353;
$infoColor: #3399ff;

//background color
$backgroundColorApp: #fafafb;

//text
$textColor: #3c4b64;
$subTextColor: #768192;

//animation
$baseTransition: all 0.3s;

@mixin NormalButtonStyle {
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    background-color: $baseColor;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: $borderRadius;
    transition: $baseTransition;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: $darkerBaseColor;
    }
}
.count-task-modal {
    .modal-header {
        display: flex;
        align-items: center;
        .title {
        }
        .content {
            color: rgb(255, 84, 84);
            font-weight: bold;
            margin-left: 0.5rem;
            font-size: 110%;
        }
    }
    .nodata-image {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        .icon-group {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .icon-task {
                width: 5rem;
                height: 5rem;
                color: $subTextColor;
            }
            .icon-search {
                width: 2.5rem;
                height: 2.5rem;
                color: $subTextColor;
                margin-top: -1.5rem;
                margin-right: -1.5rem;
            }
        }

        .create-btn {
            @include NormalButtonStyle;
            font-size: 120%;
            padding: 0.5rem 1.2rem;
            margin-top: 0.5rem;
            font-weight: bold;
        }
    }
}
