@import "../../../../../../shared_components/scss/style.scss";
.comment-item-container {
    display: flex;
    margin-bottom: 1rem;
    .commenter-avatar {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        margin-right: 0.5rem;
        img {
            width: inherit;
            height: inherit;
            border-radius: 50px;
        }
    }
    .comment-infor {
        flex-grow: 1;
        width: 2rem;
        .comment-header {
            display: flex;
            justify-content: space-between;
            .commenter-name {
                font-weight: bold;
                cursor: pointer;
            }
            .comment-date {
                @include SubTextStyle;
            }
        }
        .comment-content {
            word-break: break-all;
        }
    }
}
