@import "../../shared_components/scss/style.scss";
.lookup-input-header {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    input {
        border-radius: $borderRadius;
        padding-right: 1.8rem;
    }
    .icon-search {
        margin-left: -1.5rem;
        cursor: pointer;
        color: $subTextColor;
        transition: $baseTransition;

        &:hover {
            transform: scale(1.2);
            color: $textColor;
        }
    }
}
