.dash-board-container {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    .row {
        //margin: 0;
        //margin-bottom: 1.5rem;
    }
    .counting-group {
        &.row {
            width: auto;
        }
        .counting-group-col {
            //padding: 0;
            margin-bottom: 1.5rem;
            .panel {
                background-color: white;
                padding: 1.5rem 0rem;
                padding-bottom: 0.8rem;
                border-radius: 0.625rem;
                border: 1px solid #e6ebf1;
                .panel-title {
                    //margin-bottom: 0.8rem;
                    padding: 0 1.5rem;
                    font-size: 120%;
                }
                .row {
                    padding: 0 0.8rem;
                    margin: 0;
                    .inner-col {
                        padding: 0.8rem 0.8rem;
                    }
                    // .inner-col:first-child {
                    //     padding-right: 0.8rem;
                    // }
                    // .inner-col:last-child {
                    //     padding-left: 0.8rem;
                    // }
                }
            }
            .row {
                margin-bottom: 0;
            }
        }
        .counting-card {
            border-radius: 0.625rem;
            padding: 0.5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .image-icon {
                margin-top: 0.5rem;
                width: 3.7rem;
                height: 3.7rem;
                background-color: white;
                border-radius: 500px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.7rem;
                .icon {
                    width: 100%;
                    height: 100%;
                    color: white;
                    &.pen {
                        margin: 0.1rem;
                    }
                }
            }
            .title {
                margin-top: 0.5rem;
                font-weight: bold;
                font-size: 110%;
            }
            .count {
                font-size: 90%;
                opacity: 0.8;
            }
            .view-btn {
                background-color: white;
                padding: 0.5rem;
                margin-top: 1rem;
                border-radius: 100px;
                width: 100%;
                text-align: center;

                cursor: pointer;
                margin-bottom: 0.5rem;
                transition: all 0.3s;
                &:hover {
                    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.16);
                }
            }
            &.team-card.todo-card {
                background: rgb(234, 240, 254);
                background: linear-gradient(0deg, rgba(234, 240, 254, 1) 0%, rgba(243, 246, 255, 1) 100%);
                .image-icon {
                    background-color: #2979f4;
                }
            }
            &.team-card.deadline-card {
                background: rgb(254, 237, 229);
                background: linear-gradient(0deg, rgba(254, 237, 229, 1) 0%, rgba(254, 247, 241, 1) 100%);
                .image-icon {
                    background-color: #fb9251;
                }
            }
            &.user-card.todo-card {
                background: rgb(231, 245, 254);
                background: linear-gradient(0deg, rgba(231, 245, 254, 1) 0%, rgba(242, 250, 253, 1) 100%);
                .image-icon {
                    background-color: #5cbeff;
                }
            }
            &.user-card.deadline-card {
                background: rgb(249, 220, 220);
                background: linear-gradient(0deg, rgba(249, 220, 220, 1) 0%, rgba(253, 245, 245, 1) 100%);
                .image-icon {
                    background-color: rgba(221, 64, 64, 0.9);
                }
            }
        }
    }
    .chart-progress-container {
        background-color: white;
        border-radius: 0.625rem;
        border: 1px solid #e6ebf1;
        margin-bottom: 1rem;
        .chart-header {
            padding: 1rem;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            .chart-name {
                font-weight: bold;
            }
            .timeline-mode {
                width: 8rem;
                flex-grow: 1;
                .btn-group {
                    .btn {
                        padding: 0.3rem 0.6rem;
                        border-color: #5186f8;
                        color: #5186f8;
                        &:hover {
                            background-color: #ebf1fe;
                        }
                        &.active {
                            background-color: #5186f8;
                            color: white;
                        }
                        &:focus {
                            box-shadow: 0 0 0 0.2rem #ebf1fe;
                        }
                        &:first-child {
                            border-top-left-radius: 0.625rem;
                            border-bottom-left-radius: 0.625rem;
                        }
                        &:last-child {
                            border-top-right-radius: 0.625rem;
                            border-bottom-right-radius: 0.625rem;
                        }
                    }
                }
            }
            .export-btn {
                border-radius: 0.625rem;
                border: 1px solid #5186f8;
                background-color: white;
                padding: 0.3rem 1rem;
                color: #5186f8;
                display: flex;
                align-items: center;
                cursor: pointer;
                &:hover {
                    background-color: #5186f8;
                    color: white;
                }
                .c-icon {
                    margin-left: 0.5rem;
                }
            }
        }
        .chartjs-render-monitor {
            padding: 1rem;
            height: inherit;
        }
    }
}
