.dash-board-container{
    position: absolute;
    width: 100%;
    height: 100%;
    .row{
        width: inherit;
        height:inherit;
        margin:0px;
        .chat-content-panel{
            height:inherit;
            overflow:hidden;
            padding: 1rem 0.5rem 1rem 1rem;
            .card{
                height:inherit;
            }
        }
        .chat-tool-panel{
            height:inherit;
            overflow:hidden;
            padding: 1rem 1rem 1rem 0.5rem;
            .card{
                height:inherit;
            }
        }
    }
}