@import "../../../../shared_components/scss/style.scss";
@keyframes showInBoardItem {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@mixin BoardItemAppear {
    transition: all 0.3s ease-out;
    transform: scale(0);
    animation-name: showInBoardItem;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 0.2s;
    transform-origin: left;
}

.list-boards-in-teampage-container {
    .list-boards-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        justify-content: flex-end;
        padding: 0 1rem;
        flex-wrap: wrap;
        .lookup-input {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;

            input {
                border-radius: $borderRadius;
            }
            .icon-search {
                margin-left: -1.5rem;
                cursor: pointer;
                color: $subTextColor;
                transition: $baseTransition;

                &:hover {
                    transform: scale(1.2);
                    color: $textColor;
                }
            }
        }
        .other-actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: 1rem;
            .add-btn {
                @include NormalButtonStyle;
                margin-bottom: 0.5rem;
                .c-icon {
                    margin-right: 0.2rem;
                }
            }
        }
    }
    .list-boards {
        margin-top: 0.5rem;
        .row {
            margin: 0;
            .board-item-container {
                @include BoardItemAppear;

                margin-bottom: 1rem;
                .board-item {
                    @include CardStyle;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    cursor: pointer;
                    &:hover {
                        //background-color: rgba(#ccc, 0.2);
                        box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
                            0 5px 12px 4px rgb(0 0 0 / 9%);
                    }
                    .board-title {
                        font-weight: bold;
                    }
                    .tasks-count {
                        margin-top: 0.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        .c-icon {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
