@import "../../../../shared_components/scss/style.scss";
.team-statistics-container {
    .header-label {
        //font-weight: bold;
        font-size: 150%;
        margin-bottom: 0.5rem;
    }
    .board-select-group {
        //padding: 0rem 0.5rem;
        .label {
            margin-bottom: 0.3rem;
        }
        .col-select {
            padding: 0rem;
            margin-left: 0.1rem;
            margin-right: 0.1rem;
            margin-bottom: 1rem;
        }
    }
    .chart-progress-container {
        @include CardStyle;
        padding: 0;
        margin-bottom: 1rem;
        .chart-header {
            padding: 1rem;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            .chart-name {
                font-weight: bold;
            }
            .timeline-mode {
                @include TimelineModeGroupButton;
                width: 8rem;
                flex-grow: 1;
            }
            .export-btn {
                @include NormalButtonStyle;
                .c-icon {
                    margin-left: 0.5rem;
                }
            }
        }
        .chartjs-render-monitor {
            padding: 1rem;
            height: inherit;
        }
    }
    .chart-contribute-container {
        @include CardStyle;
        padding: 0;
        margin-bottom: 2rem;
        .chart-header {
            padding: 1rem;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            .chart-name {
                font-weight: bold;
            }
            .timeline-mode {
                @include TimelineModeGroupButton;
                width: 8rem;
                flex-grow: 1;
            }
            .export-btn {
                @include NormalButtonStyle;
                .c-icon {
                    margin-left: 0.5rem;
                }
            }
        }
        .chartjs-render-monitor {
            padding: 1rem;
            height: inherit;
        }
    }
}
.option-board-item {
    display: flex !important;
    .divider {
        width: 1px;
        height: 15px;
        background-color: #3c4b64;
        margin: 0rem 0.5rem;
    }
}
.css-9gakcf-option {
    .option-board-item {
        .divider {
            background-color: white;
        }
    }
}
