//@import "../../../../shared_components/scss/style.scss";
//========================================
//border
$borderStyle: 1px solid #e6ebf1;
$borderRadius: 0.625rem;

//color
$baseColor: #3e79f7;
$lighterBaseColor: #ebf1fe;
$darkerBaseColor: #3363ca;
$successColor: #2eb85c;
$errorColor: #e55353;
$infoColor: #3399ff;

//background color
$backgroundColorApp: #fafafb;

//text
$textColor: #3c4b64;
$subTextColor: #768192;

//animation
$baseTransition: all 0.3s;

// Here you can add other styles
@mixin background-color-theme {
    background: #3e79f7;
}
@mixin PaddingForLeftPanel {
    padding: 2rem 1rem 2rem 2rem;
    @media (max-width: 992px) {
        padding: 1rem 0.5rem 1rem 1rem;
    }
}
@mixin PaddingForRightPanel {
    padding: 2rem 2rem 2rem 1rem;
    @media (max-width: 992px) {
        padding: 1rem 1rem 1rem 0.5rem;
    }
}

@mixin SideBarItemNormal {
    background-color: white;
    color: #3c4b64;
    font-weight: 500;
    border: none;
    .c-sidebar-nav-icon {
        color: #3c4b64;
    }
}
@mixin SideBarItemSelected {
    color: #3e79f7 !important;
    background-color: #ebf1fe;
    border-right: 3px solid #3e79f7 !important;
    .c-sidebar-nav-icon {
        color: #3e79f7;
    }
}
@mixin SideBarItemHover {
    color: #3e79f7 !important;
    background-color: #ebf1fe !important;

    .c-sidebar-nav-icon {
        color: #3e79f7 !important;
    }
}

@mixin CardStyle {
    background-color: white;
    padding: 1rem;
    border-radius: $borderRadius;
    border: $borderStyle;
}

//text

@mixin TitleStyle {
    font-weight: bold;
    font-size: 110%;
}
@mixin SubTextStyle {
    font-size: 90%;
    color: $subTextColor;
}

//buttons
@mixin TimelineModeGroupButton {
    .btn-group {
        transition: $baseTransition;
        .btn {
            padding: 0.3rem 0.6rem;
            border-color: #5186f8;
            color: #5186f8;
            transition: $baseTransition;
            &:hover {
                background-color: #ebf1fe;
            }
            &.active {
                background-color: #5186f8;
                color: white;
            }
            &:focus {
                box-shadow: 0 0 0 0.2rem #ebf1fe;
            }
            &:first-child {
                border-top-left-radius: $borderRadius;
                border-bottom-left-radius: $borderRadius;
            }
            &:last-child {
                border-top-right-radius: $borderRadius;
                border-bottom-right-radius: $borderRadius;
            }
        }
    }
}

@mixin NormalButtonStyle {
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    background-color: $baseColor;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: $borderRadius;
    transition: $baseTransition;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: $darkerBaseColor;
    }
}

@mixin DropdownToggleButtonStyle {
    background-color: transparent;
    outline: none;
    border-radius: 50px;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .c-icon {
        color: $textColor;
    }
    &::after {
        display: none;
    }
    &:focus {
        outline: 0;
        box-shadow: none;
    }
    &:hover {
        background-color: #e4e6e9;
    }
}

//menus
@mixin DropdownMenuStyle {
    z-index: 1000;
    margin-top: -0.3rem !important;
    margin-left: -1.5rem !important;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    border-radius: $borderRadius;
    padding: 0;
    .dropdown-item {
        display: flex;
        align-items: center;
        .c-icon {
            margin-right: 0.5rem;
            width: 0.8rem;
            height: 0.8rem;
            &.icon-delete {
                width: 1rem;
                height: 1rem;
            }
        }
        &:first-child:hover {
            background-color: #f5f5f5;
            border-top-left-radius: $borderRadius;
            border-top-right-radius: $borderRadius;
        }
        &:last-child:hover {
            background-color: #f5f5f5;
            border-bottom-left-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }
    }
}

//header
@mixin HeaderToolBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    .normal-btn {
        @include NormalButtonStyle;
    }
    .show-mode {
        width: fit-content;
        justify-content: flex-end;
        margin-bottom: 0.5rem;
        display: flex;
        padding-right: 0;
        margin-left: 0.5rem;
        .mode-btn {
            width: 3rem;
            max-width: 3rem;
            border: $borderStyle;
            background-color: transparent;
            margin-right: 0.6px;
            transition: $baseTransition;
            &.active {
                border-color: $baseColor;
            }
            &.first {
                margin-right: 1px;
                border-top-left-radius: $borderRadius;
                border-bottom-left-radius: $borderRadius;
            }
            &.last {
                border-top-right-radius: $borderRadius;
                border-bottom-right-radius: $borderRadius;
            }
        }
    }
}

@mixin ShowMode {
    width: fit-content;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
    display: flex;
    padding-right: 0;
    margin-left: 0.5rem;
    .mode-btn {
        width: 3rem;
        max-width: 3rem;
        border: $borderStyle;
        background-color: transparent;
        margin-right: 0.6px;
        transition: $baseTransition;
        &.active {
            border-color: $baseColor;
        }
        &.first {
            margin-right: 1px;
            border-top-left-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
        }
        &.last {
            margin-left: 0.5px;
            border-top-right-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }
    }
}

//========================================
@keyframes showInMember {
    from {
        //opacity: 0;
        transform: translateY(60px);
    }
    to {
        //opacity: 1;
        transform: translateY(0px);
    }
}

@mixin MemberAppear {
    transition: all 0.1s ease-out;
    transform: scale(0);
    animation-name: showInMember;
    animation-duration: 0.15s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 0.1s;
    transform-origin: left;
}

.team-members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .team-info-panel {
        padding: 1rem;
        padding-bottom: 1.5rem;
        padding-top: 0;
        width: 100%;
        .team-info-panel-content {
            @include CardStyle;
            padding: 1.5rem;
            .name-image-group {
                display: flex;
                align-items: center;
                .team-image-container {
                    margin-right: 1rem;
                    img {
                        width: 6rem;
                        height: 6rem;
                        border-radius: 500rem;
                    }
                }
                .team-name-actions {
                    display: flex;
                    flex-direction: column;
                    .team-name {
                        font-size: 150%;
                        font-weight: bold;
                        margin-bottom: 0.5rem;
                    }
                    .actions-group {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;

                        .icon-edit {
                            width: 1rem;
                            height: 1rem;
                            margin-right: 0.5rem;
                            &.icon-edit-image {
                                width: 1.2rem;
                                height: 1.2rem;
                                margin-top: -0.1rem;
                            }
                        }
                        .btn-change-image {
                            @include NormalButtonStyle;
                            margin-right: 0.5rem;
                            margin-bottom: 0.5rem;
                        }
                        .btn-change-name {
                            @include NormalButtonStyle;
                            margin-bottom: 0.5rem;
                        }
                    }
                }
                @media (max-width: 550px) {
                    flex-wrap: wrap;
                    justify-content: center;
                    .team-name-actions {
                        margin: 0.5rem 0rem;
                        align-items: center;
                        .team-name {
                            text-align: center;
                        }
                        .actions-group {
                            justify-content: center;
                        }
                    }
                }
            }
            .team-description-group {
                .label-description {
                    font-weight: bold;
                    // font-size: 90%;
                    margin-bottom: 0.3rem;
                    margin-top: 1rem;
                    color: $subTextColor;
                    display: flex;
                    align-items: center;
                    .icon-edit-container {
                        cursor: pointer;
                        padding: 0.3rem;
                        margin-left: 0.3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 500px;
                        transition: all 0.1s;
                        .icon-edit {
                        }
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                }
                .team-description {
                }
            }
        }
    }
    .no-item-view-table {
        .nodata-image {
            .noti-infor {
                font-size: 110%;
            }
            .create-btn {
                font-size: 110%;
            }
        }
    }
    .members-list-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
        width: 100%;
        display: none;
        .other-actions {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            flex-grow: 1;
            padding: 1px;
            padding-right: 2px;
            .lookup-input {
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;

                input {
                    border-radius: $borderRadius;
                    padding-right: 1.8rem;
                }
                .icon-search {
                    margin-left: -1.5rem;
                    cursor: pointer;
                    color: $subTextColor;
                    transition: $baseTransition;

                    &:hover {
                        transform: scale(1.2);
                        color: $textColor;
                    }
                }
            }
            .add-btn {
                @include NormalButtonStyle;

                margin-bottom: 0.5rem;
                margin-left: 1rem;
                .c-icon {
                    margin-right: 0.2rem;
                }
            }
            .show-mode {
                @include ShowMode;
                margin-left: 1rem;
                margin-top: 1px;
                .rotate-90 {
                    transform: rotate(90deg);
                }
            }
        }
    }
    .label {
        font-weight: bold;
    }
    .row {
        width: 100%;
    }
    .col-leader {
        .leader-infor-container {
            @include CardStyle;
            display: flex;

            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;

            .label {
                text-align: start;
                margin-bottom: 1rem;
            }
            &.row-infor {
                align-items: flex-start;
                .label {
                    text-align: start;
                }
            }
            img {
                width: 5rem;
                height: 5rem;
                border-radius: 500px;
            }
            .leader-name {
                font-weight: bold;
                margin-top: 0.5rem;
            }
            .leader-email {
                color: $subTextColor;
                word-break: break-all;
                text-align: center;
            }
        }
    }
    .col-members {
        .members-container {
            @include CardStyle;
            margin-bottom: 1rem;
            .members-list-header {
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                .lookup-input {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.5rem;

                    input {
                        border-radius: $borderRadius;
                        padding-right: 1.8rem;
                    }
                    .icon-search {
                        margin-left: -1.5rem;
                        cursor: pointer;
                        color: $subTextColor;
                        transition: $baseTransition;

                        &:hover {
                            transform: scale(1.2);
                            color: $textColor;
                        }
                    }
                }
                .add-btn {
                    @include NormalButtonStyle;

                    margin-bottom: 0.5rem;
                    margin-left: 1rem;
                    .c-icon {
                        margin-right: 0.2rem;
                    }
                }
            }
            .label {
                margin-bottom: 1rem;
            }

            .pagination-team-members {
                display: flex;
                justify-content: center;
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
                .pagination {
                    margin-bottom: 0;
                    .page-item {
                        width: 2.3rem;
                        height: 2.3rem;
                        margin: 0rem 0.2rem;
                        border-radius: 50px;
                        .page-link {
                            text-align: center;
                            border-radius: 50px;
                            width: 2.3rem;
                            height: 2.3rem;
                            color: $textColor;
                            padding: 0;
                            margin: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        &.active {
                            .page-link {
                                background-color: $textColor;
                                color: white;
                                border-color: $textColor;
                            }
                        }
                    }
                }
            }
        }
    }
    .table-responsive {
        //overflow: visible;
        .table {
            thead {
                display: none;
            }
            tbody {
                tr {
                    //@include MemberAppear;
                    background-color: white;
                    cursor: pointer;
                    &:hover {
                        background-color: #fafafb;
                    }
                }
                td {
                    vertical-align: middle;
                }
            }
            .member-infor-container {
                display: flex;
                align-items: center;
                .member-avatar {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 100px;
                    margin-right: 1rem;
                }
                .member-infor {
                    .member-name {
                        font-weight: bold;
                    }
                    .member-email {
                        color: #768192;
                        font-size: 90%;
                    }
                }
            }
            .member-role {
                display: flex;
                align-items: center;
                .role-color {
                    width: 0.7rem;
                    height: 0.7rem;
                    background-color: #00d084;
                    margin-right: 0.5rem;
                    border-radius: 50px;
                    &.leader {
                        background-color: #eb144c;
                    }
                }
            }
            .member-actions-dropdown {
                .dropdown-toggle.btn {
                    @include DropdownToggleButtonStyle;
                }
                .dropdown-menu.show {
                    @include DropdownMenuStyle;
                    .dropdown-item {
                        .dropdown-icon-group {
                            display: flex;
                            flex-direction: column;
                            .rotate-45 {
                                transform: rotate(45deg);
                                margin-top: -1.3rem;
                                margin-left: 0.15rem;
                                width: 1.2rem;
                                height: 1.2rem;
                            }
                        }
                        .special-text {
                            margin-left: -0.5rem !important;
                        }
                    }
                }
            }
            // .member-actions-dropdown {
            //     .dropdown-toggle.btn {
            //         background-color: transparent;
            //         outline: none;
            //         width: 2rem;
            //         height: 2rem;
            //         border-radius: 50px;
            //         display: flex;
            //         align-items: center;
            //         justify-content: center;
            //         &:hover {
            //             background-color: rgba(#ccc, 0.3);
            //         }
            //         .rotate-90 {
            //             transform: rotate(90deg);
            //         }
            //         .lane-actions {
            //             color: $textColor;
            //         }
            //         &::after {
            //             display: none;
            //         }
            //         &:focus {
            //             outline: 0;
            //             box-shadow: none;
            //         }
            //     }
            //     .dropdown-menu.show {
            //         margin-top: 0.3rem !important;
            //         margin-left: -8rem !important;
            //         box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
            //         border-radius: 0.625rem;
            //         padding: 0;
            //         transform: translate(-2rem, -0.5rem) !important;
            //         .dropdown-item {
            //             display: flex;
            //             align-items: center;
            //             .c-icon {
            //                 margin-right: 0.5rem;
            //                 width: 0.8rem;
            //                 height: 0.8rem;
            //             }
            //             &:hover {
            //                 background-color: #f5f5f5;
            //                 color: $textColor;
            //             }
            //             &.first:hover {
            //                 border-top-left-radius: 0.625rem;
            //                 border-top-right-radius: 0.625rem;
            //             }
            //             &.last:hover {
            //                 border-bottom-left-radius: 0.625rem;
            //                 border-bottom-right-radius: 0.625rem;
            //             }
            //         }
            //     }
            // }
        }
    }
}

.table-responsive::-webkit-scrollbar {
    width: 0.5rem;

    height: 0.3rem;
}

/* Track */
.table-responsive::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.table-responsive::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
    border: 0.1rem solid #fafafb;
}

/* Handle on hover */
.table-responsive::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}
