@keyframes showInGanttTask {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@mixin GanttTaskAppear {
    transition: all 0.3s ease-out;
    transform: scale(0);
    animation-name: showInGanttTask;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    transform-origin: left;
}

.gantt_task_line.gantt_bar_task {
    @include GanttTaskAppear;
}

.gantt-container {
    height: 100%;
    overflow-y: auto;
    border-radius: 0.625rem;

    .weekend {
        background: #f4f7f4 !important;
    }
    #task_edit_modal {
        background-color: white;

        border: 1px solid gray;
        padding: 20px 20px 5px 20px;
        box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
    }
    .gantt_row.gantt_row_task {
        //mỗi hàng bên columns
        width: 100%;
        display: flex;
        justify-content: space-between;
        .gantt_cell.gantt_cell_tree {
            flex-grow: 1;
            .gantt_tree_content {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre;
            }
        }
        .gantt_cell.gantt_last_cell {
            width: fit-content !important;
            .assigned-user-avatar {
                width: 1.8rem;
                height: 1.8rem;
                border-radius: 50px;
            }
        }
        &.gantt_selected {
            background-color: #ebf1fe;
        }
        &:hover {
            background-color: #ebf1fe;
        }
    }
    .gantt_task_row.gantt_selected {
        background-color: #ebf1fe;
    }
}

.gantt_task_line.gantt_bar_task.gantt_task_inline_color {
    border: none !important;
}
div.gantt_grid_scale:after,
div.gantt_scale_line:last-child:after {
    box-shadow: none;
}
.gantt_scale_cell.weekend {
    background-color: white !important;
}

.gantt_layout_root.gantt_layout {
    border: 1px solid #e6ebf1;
    border-radius: 0.625rem;
}
.gantt_task_line.gantt_bar_task {
    border-radius: 0.625rem;
}

.gantt-container::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.4rem;
}

/* Track */
.gantt-container::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.gantt-container::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
}

/* Handle on hover */
.gantt-container::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}
.gantt_layout_cell::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.4rem;
}

/* Track */
.gantt_layout_cell::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.gantt_layout_cell::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
}

/* Handle on hover */
.gantt_layout_cell::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}
