@import "../../../../shared_components/scss/style.scss";
$media-btn-padding:0.5rem;
.chat-content-container{
    border-radius: 10px;
    background-color: white;
    height:inherit;
    display:flex;
    flex-direction:column;
    .chat-content-header{
        @include background-color-theme;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:0.7rem;
        
        border-top-left-radius:10px ;
        border-top-right-radius:10px ;
        box-shadow: 0px 2px 6px 1px rgba(black , 0.20);
        color:white;
        .user-infor{
            display:flex;
            justify-content: flex-start;
            align-items:center;
            font-weight: bold;
            .avatar{
                margin:0px;
                width:2.5rem;
                height:2.5rem;
                margin-right: 0.5rem;
            }
            .chat-name{
                
                
            }
        }
        .chat-infor{
            display:flex;
            justify-content:flex-end;
            align-items:center;
            .c-icon{
                transform:scale(1.2);
            }
            .member-count{
                margin-left:0.5rem;
            }
            .vertical-divider{
                background-color: white;
                width:0.1rem;
                height:1.5rem;
                margin-left:0.5rem;
            }
            .last-message-time{
                margin-left:0.5rem;
            }
        }
    }
    .message-list{
        flex-grow: 1;
        //height:10px;
    }
    .chat-content-footer{
        box-shadow: 0px -2px 6px 1px rgba(black , 0.20);
        
        display: flex;
        padding:0.5rem;
        
        border-bottom-left-radius:10px ;
        border-bottom-right-radius:10px ;
        align-items:center;
        .attach-file-btn{
            display:flex;
            align-items:center;
            padding:$media-btn-padding;
            border-radius:5px;
            cursor: pointer;
            
            .c-icon{
                width:1.3rem  ;
                height:1.3rem;
            }
            &:hover{
                background-color:#DFDFDF;
            }
        }
        .attach-image-btn{
            display:flex;
            align-items:center;
            padding:$media-btn-padding;
            border-radius:5px;
            cursor: pointer;
            .c-icon{
                width:1.3rem  ;
                height:1.3rem;
            }
            &:hover{
                background-color:#DFDFDF;
            }
        }
        input{
            margin:0px 0.5rem;
            border-radius:15px;

        }
        .send-btn{
            @include background-color-theme;
            display:flex;
            align-items:center;
            padding: 0.5rem;
            //color: #3C4B64;
            color:#FAFAFA;
            border-radius:50px;
            cursor: pointer;
            
            transition: all 0.2s;
            .c-icon{
                width:1.3rem  ;
                height:1.3rem;
            }
            &:hover{
                //background-color:#3399FF;
                transform: scale(1.1);
            }
        }
    }
}