.modal-content {
    background-color: white;
    .modal-header {
        border: none;
        padding: 1rem;
        padding-bottom: 0rem;
        .card-labels {
            margin-top: 0.3rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 500;
            .progress-label {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: #f16f81;
                color: white;
                padding: 0.2rem 0.5rem;
                border-radius: 5px;
                margin-right: 0.5rem;
                .progress-icon {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-right: 0.2rem;
                    margin-top: -0.2rem;
                }
                .task-progress {
                    margin-left: 0.3rem;
                }
            }
            .task-status-label-header {
                background-color: #f3c943;
                color: white;
                padding: 0.2rem 0.5rem;
                border-radius: 5px;
            }
        }
    }
    .modal-body {
        .form-content {
            .card-divider {
                border-top: 1px solid #e6ebf1;
                //margin: 1rem 0rem;
            }

            .title-label {
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;
                .c-icon {
                    margin-right: 0.3rem;
                    width: 1.3rem;
                    height: 1.3rem;
                    margin-top: -0.1rem;
                }
                .name {
                    font-weight: bold;
                }
            }
            .name-input-container {
                //margin-left: 2rem;
                margin-bottom: 1rem;

                input {
                    border-color: transparent;
                    background-color: transparent;
                    // border-color: rgba(#d8dbe0, 0.5);
                    // background-color: #eaecf0;
                }
                .save-name-btn {
                    margin-top: 0.5rem;
                    background-color: #eaecf0;
                    border-radius: 5px;
                    width: fit-content;
                    padding: 0.3rem 0.7rem;
                    cursor: pointer;
                    &:hover {
                        background-color: #e2e4e9;
                    }
                }
            }

            .infor-bar {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                font-weight: bold;
                //padding: 0rem 1rem;
                padding: 0;
                //flex-wrap: wrap;
                .my-row {
                    display: flex;
                    .my-col {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
                .item-group {
                    //width:;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    .label {
                        display: flex;
                        //width: 100%;
                        align-items: center;
                        .c-icon {
                            margin-right: 0.5rem;
                        }
                    }
                }

                .assign-group {
                    .assign-label {
                        .c-icon {
                            margin-top: -0.2rem;
                        }
                    }
                    img {
                        height: 2rem;
                        width: 2rem;
                        border-radius: 50px;
                        margin-top: 0.4rem;
                    }
                }
                .due-group {
                    .due-label {
                    }
                    input {
                        margin-top: 0.4rem;
                        background-color: transparent;
                        border: none;
                        width: fit-content;
                        border: 1px solid #e6ebf1;
                        border-radius: 0.625rem;
                        border-color: #d8dbe0;
                    }
                }
                .theme-group {
                    margin-top: 1rem;
                    .theme-label {
                    }
                    .theme-color {
                        background-color: #f16f81;
                        width: 100%;
                        height: 2rem;
                        width: 2rem;
                        border-radius: 50px;
                        margin-top: 0.4rem;
                        cursor: pointer;
                        border: none;
                        outline: none;
                        position: relative;
                        &.toggle-color-picker {
                            .circle-picker {
                                z-index: 2;
                                background-color: rgba(#000000, 0.4);
                                padding: 0.5rem !important;
                                width: 14.2rem !important;
                                border-radius: 0.625rem;
                                top: 2.1rem;
                                left: 0rem;
                                position: absolute;
                                box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
                                span {
                                    div {
                                        margin: 0.2rem !important;
                                        span {
                                            div {
                                                background-color: white !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .delete-theme-icon {
                            background-color: #f0f2f5;
                            position: absolute;
                            width: 1rem;
                            height: 1rem;
                            border-radius: 50px;
                            top: -0.2rem;
                            right: -0.3rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0.15rem;
                            cursor: pointer;
                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }
                }

                .status-group {
                    margin-top: 1rem;
                    .status-infor {
                        margin-top: 0.4rem;
                        .dropdown-toggle.btn {
                            &:hover {
                                color: white;
                            }
                        }
                        .dropdown-menu {
                            padding: 0;
                            border-radius: 0.625rem;
                            background-color: white;
                            border: 1px solid #e6ebf1;
                            box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
                                0 5px 12px 4px rgb(0 0 0 / 9%);
                            border: none;
                            min-width: 0;
                            .dropdown-item {
                                display: flex;

                                font-size: 90%;
                                font-weight: bold;
                                //color: white;
                                border: 0.5px solid #e6ebf1;
                                &:active {
                                    background-color: white;
                                    color: #3c4b64;
                                }
                                .color-dot {
                                    margin-right: 0.7rem;
                                    width: 0.5rem;
                                    height: 0.5rem;
                                    border-radius: 50px;
                                    //background-color: black;
                                }
                                &.todo-status {
                                    .color-dot {
                                        background-color: #de4436;
                                    }
                                }
                                &.doing-status {
                                    .color-dot {
                                        background-color: #ffc542;
                                    }
                                }
                                &.done-status {
                                    .color-dot {
                                        background-color: #05d182;
                                    }
                                }
                            }
                            .dropdown-item:first-child {
                                border-top-left-radius: 05px;
                                border-top-right-radius: 5px;
                            }
                            .dropdown-item:last-child {
                                border-bottom-left-radius: 05px;
                                border-bottom-right-radius: 5px;
                            }
                        }
                    }
                }
                .progress-group {
                    margin-top: 1rem;
                    .progress {
                        height: 0.5rem;
                        width: 100%;
                        margin-top: 0.5rem;

                        .progress-bar {
                            background-color: #f3c943;
                        }
                    }
                }
            }
            .list-attachments {
                overflow-x: auto;
                display: flex;
                .attachment-item {
                    border: 1px solid #e6ebf1;
                    border-radius: 0.625rem;
                    background-color: white;

                    margin-right: 1rem;
                    margin-bottom: 1rem;
                    width: 13rem;
                    height: 9rem;
                    img {
                        border-radius: 0.625rem;
                        width: inherit;
                        height: inherit;
                        padding: 0.5rem;
                    }
                }
            }
            .attachment-label {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.5rem;
                margin-top: 1rem;
                .label-title {
                    display: flex;
                    align-items: center;
                    .c-icon {
                        margin-right: 0.3rem;
                        width: 1.1rem;
                        height: 1.1rem;
                        margin-top: -0.1rem;
                    }
                    .description {
                        font-weight: bold;
                    }
                }
                .label-action {
                    border: 1px solid #e6ebf1;
                    padding: 0.2rem 0.4rem;
                    border-radius: 0.25rem;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    .c-icon {
                        margin-right: 0.3rem;
                    }
                    .action-name {
                        font-weight: bold;
                    }
                    &:hover {
                        background-color: #eaecf0;
                    }
                }
            }

            .description-label {
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;
                margin-top: 1rem;
                .c-icon {
                    margin-right: 0.3rem;
                    width: 1.2rem;
                    height: 1.2rem;
                    margin-top: -0.1rem;
                }
                .description {
                    font-weight: bold;
                }
            }
            .description-input-container {
                //margin-left: 2rem;
                margin-bottom: 1rem;
                height: a;
                .input-post {
                    padding: 6px 12px !important;
                    height: 2rem !important;
                    width: 100% !important;
                    // height: calc(1.5em + 0.75rem + 2px);
                    min-height: calc(1.5em + 0.75rem + 2px);
                    background-color: transparent;
                    border-color: transparent;
                    // background-color: #eaecf0;
                    // border-color: rgba(#d8dbe0, 0.5);
                    &:focus {
                        border-color: #ccc7f6;
                        outline-color: #ccc7f6;
                    }
                }
                .save-description-btn {
                    margin-top: 0.5rem;
                    background-color: #eaecf0;
                    border-radius: 5px;
                    width: fit-content;
                    padding: 0.3rem 0.7rem;
                    cursor: pointer;
                    &:hover {
                        background-color: #e2e4e9;
                    }
                }
            }
            .comment-label {
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;
                .c-icon {
                    margin-right: 0.3rem;
                    width: 1.2rem;
                    height: 1.2rem;
                }
                .commnet {
                    font-weight: bold;
                }
            }

            .my-comment {
                padding: 0rem 0rem 0rem 2rem;
                input {
                    background-color: #fafafa;
                }
            }

            .comment-list {
                margin-bottom: 0rem;
                .comment {
                    padding: 0.75rem 0rem 0rem 2rem;
                }
            }
        }
        .form-actions {
            .action-item {
                display: flex;
                background-color: #eaecf0;
                align-items: center;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                cursor: pointer;
                margin-bottom: 0.7rem;
                .c-icon {
                    margin-right: 0.5rem;
                    width: 1.1rem;
                    height: 1.1rem;
                }
                .action-name {
                    font-weight: 500;
                }

                &:hover {
                    background-color: #e2e4e9;
                }
            }
        }
    }
}

.toaster {
    width: fit-content;
    border-radius: 0.625rem;
    background-color: transparent;
    border: none;
    .toast {
        background-color: transparent;
        border: none;
        .toast-body {
            background-color: #f16f81;
            color: #fff;
            border-radius: 0.625rem;
            display: flex;
            border: none;
            .c-icon {
                margin-right: 0.5rem;
            }
        }
    }
}

.list-attachments::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.4rem;
}

/* Track */
.list-attachments::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.list-attachments::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
}

/* Handle on hover */
.list-attachments::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}
