.modal-body {
    .loading-container {
        display: flex;
        justify-content: center;
    }
}
.modal-content {
    background-color: white;
    .modal-header {
        border: none;
        padding: 1rem;
        padding-bottom: 0rem;
        .card-labels {
            margin-top: 0.3rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 500;
            .progress-label {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: #f16f81;
                color: white;
                padding: 0.2rem 0.5rem;
                border-radius: 5px;
                margin-right: 0.5rem;
                .progress-icon {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-right: 0.2rem;
                    margin-top: -0.2rem;
                }
                .task-progress {
                    margin-left: 0.3rem;
                }
            }
            .task-status-label-header {
                background-color: #f3c943;
                color: white;
                padding: 0.2rem 0.5rem;
                border-radius: 5px;
            }
        }
    }
    .modal-body {
        .form-content {
            // display: flex;
            // flex-direction: column-reverse;
            .card-divider {
                border-top: 1px solid #e6ebf1;
                //margin: 1rem 0rem;
            }
            .show-detail-toggle {
                border-radius: 5px;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                padding: 0.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                margin-left: -0.5rem;
                &:hover {
                    background-color: #eaecf0;
                }
                .detail-toggle-label {
                    display: flex;
                    align-items: center;
                    .c-icon {
                        margin-right: 0.3rem;
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                    .label-name {
                        font-weight: bold;
                    }
                }
                .icon-up-down {
                    width: 0.8rem;
                    height: 0.8rem;
                    transition: all 1.5s;
                }
            }
            .advanced-collapse {
                padding-left: 1.5rem;
            }

            .title-label {
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;
                .c-icon {
                    margin-right: 0.3rem;
                    width: 1.3rem;
                    height: 1.3rem;
                    margin-top: -0.1rem;
                }
                .name {
                    font-weight: bold;
                }
            }
            .name-input-container {
                //margin-left: 2rem;
                margin-bottom: 1rem;

                input {
                    border-color: transparent;
                    background-color: transparent;
                    // border-color: rgba(#d8dbe0, 0.5);
                    // background-color: #eaecf0;
                    color: inherit;
                }
                .save-name-btn {
                    margin-top: 0.5rem;
                    background-color: #eaecf0;
                    border-radius: 5px;
                    width: fit-content;
                    padding: 0.3rem 0.7rem;
                    cursor: pointer;
                    &:hover {
                        background-color: #e2e4e9;
                    }
                }
            }

            .infor-bar {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                font-weight: bold;
                //padding: 0rem 1rem;
                padding: 0;
                //flex-wrap: wrap;
                .col {
                    padding: 0;
                }
                .my-row {
                    display: flex;

                    .my-col {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
                .item-group {
                    //width:;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 1.5rem;
                    .label {
                        display: flex;
                        //width: 100%;
                        align-items: center;
                        .c-icon {
                            margin-right: 0.5rem;
                        }
                    }
                }

                .assign-group {
                    .assign-label {
                        margin-bottom: 0.5rem;
                        .c-icon {
                            margin-top: -0.2rem;
                        }
                    }
                    img {
                        height: 2rem;
                        width: 2rem;
                        border-radius: 50px;
                        margin-top: 0.4rem;
                    }
                    &.hidden-group {
                        visibility: hidden;
                    }
                }
                .due-group {
                    .due-label {
                    }
                    input {
                        margin-top: 0.4rem;
                        background-color: transparent;
                        border: none;
                        width: fit-content;
                        border: 1px solid #e6ebf1;
                        border-radius: 0.625rem;
                        border-color: #d8dbe0;
                    }
                }
                .start-group {
                    .start-label {
                    }
                    input {
                        margin-top: 0.4rem;
                        background-color: transparent;
                        border: none;
                        width: fit-content;
                        border: 1px solid #e6ebf1;
                        border-radius: 0.625rem;
                        border-color: #d8dbe0;
                    }
                }
                .theme-group {
                    .theme-label {
                    }
                    .theme-color {
                        background-color: #f16f81;
                        width: 100%;
                        height: 2rem;
                        width: 2rem;
                        border-radius: 50px;
                        margin-top: 0.4rem;
                        cursor: pointer;
                        border: none;
                        outline: none;
                        position: relative;
                        &.toggle-color-picker {
                            .circle-picker {
                                z-index: 2;
                                background-color: rgba(#000000, 0.4);
                                padding: 0.5rem !important;
                                width: 14.2rem !important;
                                border-radius: 0.625rem;
                                top: 2.1rem;
                                left: 0rem;
                                position: absolute;
                                box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
                                span {
                                    div {
                                        margin: 0.2rem !important;
                                        span {
                                            div {
                                                background-color: white !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .delete-theme-icon {
                            background-color: #f0f2f5;
                            position: absolute;
                            width: 1rem;
                            height: 1rem;
                            border-radius: 50px;
                            top: -0.2rem;
                            right: -0.3rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0.15rem;
                            cursor: pointer;
                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }
                }

                .status-group {
                    .status-infor {
                        margin-top: 0.4rem;
                        .dropdown-toggle.btn {
                            &:hover {
                                color: white;
                            }
                        }
                        .dropdown-menu {
                            padding: 0;
                            border-radius: 0.625rem;
                            background-color: white;
                            border: 1px solid #e6ebf1;
                            box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
                                0 5px 12px 4px rgb(0 0 0 / 9%);
                            border: none;
                            min-width: 0;
                            .dropdown-item {
                                display: flex;

                                font-size: 90%;
                                font-weight: bold;
                                //color: white;
                                border: 0.5px solid #e6ebf1;
                                &:active {
                                    background-color: white;
                                    color: #3c4b64;
                                }
                                .color-dot {
                                    margin-right: 0.7rem;
                                    width: 0.5rem;
                                    height: 0.5rem;
                                    border-radius: 50px;
                                    //background-color: black;
                                }
                                &.todo-status {
                                    .color-dot {
                                        background-color: #de4436;
                                    }
                                }
                                &.doing-status {
                                    .color-dot {
                                        background-color: #ffc542;
                                    }
                                }
                                &.done-status {
                                    .color-dot {
                                        background-color: #05d182;
                                    }
                                }
                            }
                            .dropdown-item:first-child {
                                border-top-left-radius: 05px;
                                border-top-right-radius: 5px;
                            }
                            .dropdown-item:last-child {
                                border-bottom-left-radius: 05px;
                                border-bottom-right-radius: 5px;
                            }
                        }
                    }
                }
                .progress-group {
                    .progress {
                        height: 0.5rem;
                        width: 100%;
                        margin-top: 0.5rem;

                        .progress-bar {
                            background-color: #f3c943;
                        }
                    }
                }
            }
            .list-attachments {
                overflow-x: auto;
                display: flex;
                margin-bottom: 1rem;
                .attachment-item {
                    border: 1px solid #e6ebf1;
                    border-radius: 0.625rem;
                    background-color: white;

                    margin-right: 1rem;
                    margin-bottom: 1rem;
                    width: 13rem;
                    height: 9rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    padding: 0.2rem 0.5rem 0.2rem 0.2rem;
                    height: fit-content;
                    img {
                        border-radius: 0;
                        flex-grow: 1;
                        height: 2rem;
                        width: 2rem;
                        padding: 0;
                    }
                    .attachment-name-containner {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-end;
                        .download-icon-container {
                            background-color: transparent;
                            color: black;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 0.2rem 0.4rem;
                            border-radius: 4px;
                            padding: 0.2rem 0.4rem;
                            border-radius: 4px;
                            cursor: pointer;
                            &:hover {
                                transform: scale(1.1);
                                background-color: #eaecf0;
                            }
                            .icon-bottom {
                                margin-top: -0.98rem;
                                width: 1.2rem;
                                height: 1.2rem;
                            }
                        }
                        .attachment-name {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: pre;
                            font-weight: bold;
                            margin-left: 0.2rem;
                            cursor: pointer;
                        }
                    }
                }
            }
            .attachment-label {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.5rem;
                margin-top: 1rem;
                .label-title {
                    display: flex;
                    align-items: center;
                    .c-icon {
                        margin-right: 0.3rem;
                        width: 1.1rem;
                        height: 1.1rem;
                        margin-top: -0.1rem;
                    }
                    .description {
                        font-weight: bold;
                    }
                }
                .label-action {
                    border: 1px solid #e6ebf1;
                    padding: 0.2rem 0.4rem;
                    border-radius: 0.25rem;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    .c-icon {
                        margin-right: 0.3rem;
                    }
                    .action-name {
                        font-weight: bold;
                    }
                    &:hover {
                        background-color: #eaecf0;
                    }
                }
            }
            .task-avatar-label {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.5rem;
                margin-top: 1rem;
                .label-title {
                    display: flex;
                    align-items: center;
                    .c-icon {
                        margin-right: 0.3rem;
                        width: 1.1rem;
                        height: 1.1rem;
                        margin-top: -0.1rem;
                    }
                    .description {
                        font-weight: bold;
                    }
                }
                .label-action {
                    border: 1px solid #e6ebf1;
                    padding: 0.2rem 0.4rem;
                    border-radius: 0.25rem;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    .c-icon {
                        margin-right: 0.3rem;
                    }
                    .action-name {
                        font-weight: bold;
                    }
                    &:hover {
                        background-color: #eaecf0;
                    }
                }
            }

            .description-label {
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;
                margin-top: 1rem;
                .c-icon {
                    margin-right: 0.3rem;
                    width: 1.2rem;
                    height: 1.2rem;
                    margin-top: -0.1rem;
                }
                .description {
                    font-weight: bold;
                }
            }
            .description-input-container {
                //margin-left: 2rem;
                margin-bottom: 1rem;
                height: a;
                .input-post {
                    padding: 6px 12px !important;
                    height: 2rem !important;
                    width: 100% !important;
                    // height: calc(1.5em + 0.75rem + 2px);
                    min-height: calc(1.5em + 0.75rem + 2px);
                    background-color: transparent;
                    border-color: transparent;
                    // background-color: #eaecf0;
                    // border-color: rgba(#d8dbe0, 0.5);
                    &:focus {
                        border-color: #ccc7f6;
                        outline-color: #ccc7f6;
                    }
                }
                .save-description-btn {
                    margin-top: 0.5rem;
                    background-color: #eaecf0;
                    border-radius: 5px;
                    width: fit-content;
                    padding: 0.3rem 0.7rem;
                    cursor: pointer;
                    &:hover {
                        background-color: #e2e4e9;
                    }
                }
            }
            .comment-label {
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
                .c-icon {
                    margin-right: 0.3rem;
                    width: 1.2rem;
                    height: 1.2rem;
                }
                .commnet {
                    font-weight: bold;
                }
            }

            .my-comment {
                margin-top: 1rem;
                padding: 0rem 0rem 0rem 0rem;
                display: flex;
                align-items: center;
                .my-avatar {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50px;
                    margin-right: 0.5rem;
                    img {
                        width: inherit;
                        height: inherit;
                        border-radius: inherit;
                    }
                }
                .input-container {
                    width: 100% !important;
                    input {
                        background-color: #fafafa;
                    }
                }
            }
            .task-avatar {
                width: 13rem;
                height: 9rem;
                margin-bottom: 1rem;
                position: relative;
                img {
                    width: inherit;
                    height: inherit;
                    border-radius: 0.5rem;
                }
                .delete-task-avatar-icon {
                    position: absolute;
                    background: #de4436;
                    width: 1.4rem;
                    height: 1.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    color: white;
                    padding: 0.1rem;
                    top: -0.5rem;
                    right: -0.5rem;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            .comment-list {
                margin-bottom: 0rem;
                padding: 1rem 0rem 0rem 0rem;
                .comment {
                    //padding: 0.75rem 0rem 0rem 2rem;
                }
            }
        }
        .form-actions {
            margin-top: 0rem;

            .tippy-box {
                box-shadow: rgb(0 0 0 / 16%) 0px 1px 2px -2px, rgb(0 0 0 / 12%) 0px 3px 6px 0px,
                    rgb(0 0 0 / 9%) 0px 5px 12px 4px;
                border-radius: 0.625rem;
                .tippy-content {
                    width: max-content;
                    .popover-header {
                        border-top-left-radius: 0.625rem;
                        border-top-right-radius: 0.625rem;
                    }
                    .popover-body {
                        font-size: 0.875rem;
                        z-index: 10000;
                        .list-item {
                            display: flex;
                            margin-bottom: 0.5rem;
                            align-items: center;
                            background-color: white;
                            border-radius: 0.5rem;
                            padding: 0.5rem;
                            cursor: pointer;
                            z-index: 10001;
                            transition: all 0.3s;
                            .c-icon {
                                margin-right: 0.3rem;
                                visibility: hidden;
                            }
                            &.active {
                                background-color: #eaecf0;
                                .c-icon {
                                    visibility: visible;
                                }
                            }
                            &:hover {
                                background-color: rgba(#eaecf0, 0.8);
                                .c-icon {
                                    visibility: visible;
                                    color: rgba(#3c4b64, 0.8);
                                }
                            }
                        }
                    }
                }
            }
            .action-item {
                display: flex;
                background-color: #eaecf0;
                align-items: center;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                cursor: pointer;
                margin-bottom: 0.7rem;
                .c-icon {
                    margin-right: 0.5rem;
                    width: 1.1rem;
                    height: 1.1rem;
                }
                .icon-move {
                    margin-right: 0.5rem;
                    width: 1.1rem;
                    height: 1.1rem;
                }
                .icon-version {
                    margin-right: 0.8rem;
                    width: 1.02rem;
                    height: 1.02rem;
                    path {
                        stroke: #3c4b64;
                    }
                }
                .action-name {
                    font-weight: 500;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &:hover {
                    background-color: #e2e4e9;
                }
            }
        }
    }
}

.react-tiny-popover-container {
    left: -0.5rem !important;
    .lists-popover-container {
        background-color: white;
        box-shadow: rgb(0 0 0 / 16%) 0px 1px 2px -2px, rgb(0 0 0 / 12%) 0px 3px 6px 0px,
            rgb(0 0 0 / 9%) 0px 5px 12px 4px;
        border-radius: 0.625rem;
        border-color: rgba(0, 0, 21, 0.2);
        .lists-header {
            padding: 0.5rem;
            border-top-left-radius: 0.625rem;
            border-top-right-radius: 0.625rem;
            background-color: #f7f7f7;
            border-bottom-color: #ebebeb;
        }
        .lists-body {
            padding: 0.5rem;
            .list-item {
                display: flex;
                margin-bottom: 0.5rem;
                align-items: center;
                background-color: white;
                border-radius: 0.5rem;
                padding: 0.5rem;
                cursor: pointer;
                z-index: 10001;
                transition: all 0.3s;
                .c-icon {
                    margin-right: 0.3rem;
                    visibility: hidden;
                }
                &.active {
                    background-color: #eaecf0;
                    .c-icon {
                        visibility: visible;
                    }
                }
                &:hover {
                    background-color: rgba(#eaecf0, 0.8);
                    .c-icon {
                        visibility: visible;
                        color: rgba(#3c4b64, 0.8);
                    }
                }
            }
        }
    }
    .scores-popover-container {
        background-color: white;
        box-shadow: rgb(0 0 0 / 16%) 0px 1px 2px -2px, rgb(0 0 0 / 12%) 0px 3px 6px 0px,
            rgb(0 0 0 / 9%) 0px 5px 12px 4px;
        border-radius: 0.625rem;
        border-color: rgba(0, 0, 21, 0.2);
        .scores-body {
            padding: 0.5rem;
            .score-item {
                display: flex;
                margin-bottom: 0.5rem;
                align-items: center;
                background-color: white;
                border-radius: 0.5rem;
                padding: 0.5rem;
                cursor: pointer;
                z-index: 10001;
                transition: all 0.3s;
                .c-icon {
                    margin-right: 0.3rem;
                    visibility: hidden;
                }
                &.active {
                    background-color: #eaecf0;
                    .c-icon {
                        visibility: visible;
                    }
                }
                &:hover {
                    background-color: rgba(#eaecf0, 0.8);
                    .c-icon {
                        visibility: visible;
                        color: rgba(#3c4b64, 0.8);
                    }
                }
            }
        }
    }
}

.toaster {
    width: fit-content;
    border-radius: 0.625rem;
    background-color: transparent;
    border: none;
    .toast {
        background-color: transparent;
        border: none;
        .toast-body {
            background-color: #f16f81;
            color: #fff;
            border-radius: 0.625rem;
            display: flex;
            border: none;
            .c-icon {
                margin-right: 0.5rem;
            }
        }
    }
}
.react-tiny-popover-container {
    z-index: 100000;
}

.gantt_task_line.gantt_task_inline_color.gantt_project,
.gantt_task_line.gantt_task_inline_color {
    box-shadow: 0 0 5px #ccc;
    box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
}
.css-yk16xz-control {
    border: 1px solid #d8dbe0;
    border-radius: 0.625rem;
}
.css-1wa3eu0-placeholder {
    color: #c5ccd5;
    font-weight: normal;
}

.list-attachments::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.4rem;
}
.css-2613qy-menu {
    display: block !important;
}
.css-1pahdxg-control {
    border-radius: 0.625rem !important;
}

.css-1n7v3ny-option,
.css-yt9ioa-option,
.task-modal {
    .css-9gakcf-option {
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        border-radius: 0.625rem;
        cursor: pointer;
        width: auto !important;
        div {
            cursor: pointer;
            justify-content: flex-start !important;
            align-items: center !important;
            img {
                margin: 0 !important;
                margin-right: 0.5rem !important;
                cursor: pointer;
            }
            label {
                margin: 0;
                cursor: pointer;
            }
        }
    }
}

.css-1uccc91-singleValue {
    div {
        img {
            width: 1.7rem !important;
            height: 1.7rem !important;
            margin: 0rem 0.5rem 0rem 0rem !important;
        }
    }
}
.css-yk16xz-control {
    border-radius: 0.625rem !important;
}

/* Track */
.list-attachments::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.list-attachments::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
}

/* Handle on hover */
.list-attachments::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.load-more-comment {
    //margin: 0rem 1.25rem 0rem 1.25rem;
    display: flex;
    text-align: end;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1.5rem;
    &:hover {
        font-weight: bold;
    }
    .rotate {
        font-size: 1.1rem;
        //margin-bottom: -0.2rem;

        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}

.slider-container {
    width: 100%;
    display: "flex";
    justify-content: "center";
    flex-wrap: "wrap";
    margin-top: 1rem;
    display: flex;
    .track-container {
        display: flex;
        width: 100%;
        .track-bar {
            height: 8px;
            width: 100%;
            border-radius: 4px;
            align-self: center;
            cursor: default;
            .thumb {
                height: 1.5rem;
                width: 1rem;
                border-radius: 4px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 2px 6px #aaa;
                &:focus {
                    outline: none;
                }
                &:active {
                    .value {
                        display: flex;
                    }
                }
                .value {
                    position: absolute;
                    top: -1.9rem;
                    background: #548bf4;
                    color: white;
                    padding: 0.1rem;
                    border-radius: 50px;
                    width: 1.7rem;
                    height: 1.7rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    display: none;
                    //ok
                }
            }
        }
    }
    .result {
        margin-left: 0.7rem;
    }
}
