.chat-list-conatainer {
    flex-grow: 1;
    overflow-y: scroll;
}

.chat-list-conatainer::-webkit-scrollbar {
    width: 0.3rem;
}

/* Track */
.chat-list-conatainer::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.chat-list-conatainer::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
}

/* Handle on hover */
.chat-list-conatainer::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}
