@import "../../../../shared_components/scss/style.scss";
$normal-border-radius: 0.625rem;
$not-normal-border-radius: 0.2rem;
$message-font-weight: normal;

@keyframes showIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes showIn1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@mixin Appear {
    transition: all 0.3s ease;
    transform: scale(0);
    animation-name: showIn;
    transform-origin: left;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.3s;
}
@mixin Appear1 {
    //transition: all 0.3s ease;
    transform: scale(0);
    //transform-origin: left;
    animation-name: showIn1;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.3s;
}

.message-item-container {
    padding: 0.5rem;
    display: flex;
    align-items: flex-end;

    .avatar {
        margin: 0rem 0.2rem;
        padding: 0px;
        width: 2rem;
        height: 2rem;
        border-radius: 50px;
    }
    .message-content {
        //@include Appear1;
        margin: 0rem 0.2rem;
        margin-right: 3rem;
        display: flex;
        flex-direction: column;
        //transition: all 2s;
        .message-text {
            font-weight: $message-font-weight;
            background-color: #ededed;
            padding: 0.5rem 0.7rem;
            width: fit-content;
            border-radius: $normal-border-radius;
            &:hover {
                background-color: #c4c6ca;
                transition-delay: 1s;
            }
        }
        .message-time {
            padding: 0rem 0.1rem;
            display: none;
            font-size: 0.7rem;
            transition: all 0.5s;
            font-weight: 500;
        }

        &:active {
            .message-time {
                display: block;
            }
        }
    }
}

.message-item-container.start {
    padding-bottom: 0.1rem;
    .avatar {
        visibility: hidden;
    }
    .message-text {
        border-bottom-left-radius: $not-normal-border-radius;
    }
}
.message-item-container.middle {
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
    .avatar {
        visibility: hidden;
    }
    .message-text {
        border-bottom-left-radius: $not-normal-border-radius;
        border-top-left-radius: $not-normal-border-radius;
    }
}

.message-item-container.end {
    padding-top: 0.1rem;
    .message-text {
        border-top-left-radius: $not-normal-border-radius;
    }
}

.message-item-container.mine {
    flex-direction: row-reverse;

    .avatar {
        display: none;
    }
    .message-content {
        //@include Appear();
        //transform-origin: right;
        margin: 0rem 0.2rem;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 3rem;
        .message-text {
            @include background-color-theme;
            font-weight: $message-font-weight;
            padding: 0.5rem 0.7rem;
            width: fit-content;
            border-radius: $normal-border-radius;
            color: #fafafa;
        }
        .message-time {
            padding: 0rem 0.1rem;
        }
    }
}

.message-item-container.start.mine {
    .message-text {
        border-radius: $normal-border-radius;
        border-bottom-right-radius: $not-normal-border-radius;
    }
}
.message-item-container.middle.mine {
    .message-text {
        border-radius: $normal-border-radius;
        border-bottom-right-radius: $not-normal-border-radius;
        border-top-right-radius: $not-normal-border-radius;
    }
}
.message-item-container.end.mine {
    .message-text {
        border-radius: $normal-border-radius;
        border-top-right-radius: $not-normal-border-radius;
    }
}

.message-list::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
.message-list::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.message-list::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
}

/* Handle on hover */
.message-list::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.message-label {
    font-weight: 500;
    font-size: 0.75rem;
    color: #8c929e;
    text-align: center;
    margin: 0.1rem 0rem;
}

.nodata-image {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .c-icon {
        color: rgba(#3c4b64, 0.7);
        width: 5rem;
        height: 5rem;
        &.icon-x {
            width: 1.5rem;
            height: 2rem;
            margin-top: -4.5rem;
            margin-right: -6.8rem;
        }
        &.icon-glass {
            width: 3rem;
            height: 3rem;
        }
    }
    .noti-infor {
        font-size: 130%;
        text-align: center;
        font-weight: bold;
        color: rgba(#3c4b64, 0.7);
    }
    .create-post-btn {
        font-size: 120%;
        background-color: #3e79f7;
        color: white;
        padding: 0.5rem 1.2rem;
        border-radius: 0.625rem;
        margin-top: 0.5rem;
        cursor: pointer;
        font-weight: bold;
        &:hover {
            background-color: #3363ca;
        }
    }
}