@import "../../../../shared_components/scss/style.scss";

$not-borderRadius: 0.2rem;
$message-font-weight: normal;

@keyframes showIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes showIn1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@mixin Appear {
    transition: all 0.3s ease;
    transform: scale(0);
    animation-name: showIn;
    transform-origin: left;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.3s;
}
@mixin Appear1 {
    //transition: all 0.3s ease;
    transform: scale(0);
    //transform-origin: left;
    animation-name: showIn1;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.3s;
}

.message-list::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
.message-list::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.message-list::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
}

/* Handle on hover */
.message-list::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}
