@import "../../shared_components/scss/style.scss";
.my-files-page-container {
    height: 100%;
    padding: 1.5rem;
    .my-files-page-content {
        @include CardStyle;
        height: 100%;
    }
}
