@keyframes showInChatItem {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@mixin ListChatItemApear {
    transition: all 0.3s ease-out;
    transform: scale(0);
    animation-name: showInChatItem;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 0.2s;
    transform-origin: left;
}

.chat-item-container {
    @include ListChatItemApear;
    height: 4rem;
    display: flex;
    border-bottom: 1px solid rgb(230, 235, 241);
    padding: 0.5rem 1rem;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;

    .item-avatar {
        margin-right: 0.5rem;
        img {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50px;
        }
    }
    .item-content {
        width: 10px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        .item-content-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .chat-name {
                font-weight: 550;
            }
            .chat-last-time {
                //font-size: 0.8rem;
                color: rgba(114, 132, 154, 0.7);
                font-weight: 500;
            }
        }
        .item-content-body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .chat-messagge {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: rgba(114, 132, 154, 0.7);
                //font-size: 0.8rem;
            }
            .chat-noti {
                display: none;
                .badge {
                    font-size: 0.6rem;
                }
            }
        }
    }

    &:hover {
        background-color: #f5f5f5;
    }
    &.selected {
        background-color: #f5f5f5;
    }
    &.message {
        .item-content {
            .item-content-body {
                .chat-noti {
                    display: block;
                    .badge {
                        //font-size: 0.6rem;
                    }
                }
            }
        }
    }
}

.chat-item-container.selected {
    .item-content {
        .item-content-body {
            .chat-messagge {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #3c4b64;
                //font-size: 0.8rem;
            }
        }
    }
}
