.comment{
    padding: 0.75rem 1.25rem 0rem 1.25rem;
    display:flex;
    .author-avatar{

    }

    .comment-content{
        width:100%;
        background-color: #EBEDEF;
        padding: 0.25rem 0.5rem;
        margin-left:0.5rem;
        border-radius: 15px;
        .comment-content-header{
            display:flex;
            justify-content: space-between;
            .comment-author-name{
                font-weight: bold;
            }
            .comment-date{
            }
        }
        
        .comment-content-text{
            //margin-top:0.1rem;
        }
    }
}