.post-item{
    background-color:white;
    border-radius: 10px;
    margin-bottom: 1rem !important;
    border-radius: 10px !important;
    .card-header{
        display:flex;
        justify-content: space-between;
        border:none;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        .author-infor{
            display:flex;
            align-items: center;
            .author-avatar{
                &:hover{
                    cursor: pointer;
                }
            }
            .author-name{
                margin-left:0.3rem;
                font-weight: bold;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .post-date{
    
        }
    
    }
    .card-body{
        padding-top:0px;
        padding-bottom: 0.75rem;
    }
    .divider{
        margin:0rem 1.25rem;
    }
}