@import "../../shared_components/scss/style.scss";

.chat-page-container{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    .row{
        width: inherit;
        height:inherit;
        margin:0px;
        .chat-content-panel{
            height:inherit;
            overflow:hidden;
            @include PaddingForLeftPanel;
            
            .card{
                margin:0px;
                height:inherit;
                background-color:transparent;
                border: none;
            }
        }
        .chat-tool-panel{
            height:inherit;
            overflow:hidden;
            @include PaddingForRightPanel;
            .card{
                margin:0px;
                height:inherit;
                border-radius: 10px;
            }
        }
    }
}