@import "../../../../../shared_components/scss/style.scss";
.modal.modal-invite-member {
    .modal-dialog.modal-sm {
        display: flex;
        justify-content: center;
        .modal-content {
            width: max-content;
            border-radius: $borderRadius;
            margin-top: 10rem;
            .modal-header {
                font-weight: 500;
            }
            .new-card-form {
                display: flex;
                align-items: center;
                padding: 1.5rem;
                width: max-content;
                .name-label {
                    margin-right: 1rem;
                    font-weight: 500;
                }
                input {
                    border-radius: $borderRadius;
                    width: 15rem;
                    margin: 0;
                }
                .add-card-btn {
                    @include NormalButtonStyle;
                }
            }
        }
    }
}
