@import "../../../../../../shared_components/scss/style.scss";
$normal-border-radius:20px;
$not-normal-border-radius:6px;
$message-font-weight:500;

@keyframes showIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@mixin Appear{
    transition: all 0.3s ease;
	transform: scale(0);
	transform-origin: left;
	animation-name: showIn;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: ease-in;
	animation-fill-mode: both;
	animation-delay: 0.4s;
}
  
.message-list{
    overflow-y: scroll;

    //custom scrollbar 
    /* width */
   
}
.message-item-container{
    
    padding:0.5rem;
    display:flex;
    align-items: flex-end;
    
    .avatar{
        margin: 0rem 0.2rem;
        padding: 0px;
        width:2rem;
        height:2rem;
    }
    .message-content{
        @include Appear;
        margin: 0rem 0.2rem;
        margin-right: 3rem;
        display:flex;
        flex-direction:column;
        transition: all 3s;
        .message-text{
            font-weight: $message-font-weight;
            background-color:#E4E6EB;
            padding:0.5rem 0.7rem;
            width:fit-content;
            border-radius: $normal-border-radius;
            &:hover{
                background-color:#C4C6CA;
                transition-delay:1s;

            }
            
        }
        .message-time{
            padding:0rem 0.1rem;
            display:none;
            font-size: 0.7rem;
            transition: all 0.5s;
            font-weight: 500;
        }

        &:active{
            .message-time{
                
                display:block;
            }
            
        }
    }
}

.message-item-container.start{
    padding-bottom: 0.1rem;
    .avatar{
        visibility: hidden;
    }
    .message-text{
        border-bottom-left-radius: $not-normal-border-radius;
    }
}
.message-item-container.middle{
    padding-bottom: 0.1rem;
    padding-top:0.1rem;
    .avatar{
        visibility: hidden;
    }
    .message-text{
        border-bottom-left-radius: $not-normal-border-radius;
        border-top-left-radius: $not-normal-border-radius;
    }
}

.message-item-container.end{
    padding-top:0.1rem;
    .message-text{
        border-top-left-radius: $not-normal-border-radius;
    }
}

.message-item-container.mine{
    flex-direction: row-reverse;
    
    .avatar{
        display:none;
    }
    .message-content{
        transform-origin: right;
        margin: 0rem 0.2rem;
        flex-direction:column;
        align-items: flex-end;
        margin-left: 3rem;
        .message-text{
            @include background-color-theme;
            font-weight: $message-font-weight;
            padding:0.5rem 0.7rem;
            width:fit-content;
            border-radius: $normal-border-radius;
            color:#FAFAFA;
            
        }
        .message-time{
            padding:0rem 0.1rem;
        }
    }

}

.message-item-container.start.mine{
    .message-text{
        border-radius: $normal-border-radius;
        border-bottom-right-radius: $not-normal-border-radius;
    }
}
.message-item-container.middle.mine{
    .message-text{
        border-radius: $normal-border-radius;
        border-bottom-right-radius: $not-normal-border-radius;
        border-top-right-radius: $not-normal-border-radius;
    }
}
.message-item-container.end.mine{
    .message-text{
        border-radius: $normal-border-radius;
        border-top-right-radius: $not-normal-border-radius;
    }
}


.message-list::-webkit-scrollbar {
    width: 0.5rem;
}
  
  /* Track */
  .message-list::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .message-list::-webkit-scrollbar-thumb {
    background: #CDCDCD; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .message-list::-webkit-scrollbar-thumb:hover {
    background: #A8A8A8; 
  }

.message-label{
    font-weight: 500;
    font-size: 0.75rem;
    color:#8C929E;
    text-align: center;
    margin: 0.1rem 0rem;
}


