@import "../../shared_components/scss/style.scss";
.account-page-container {
    padding: 1.5rem;
    height: 100%;
    .account-page-content {
        @include CardStyle;
        padding: 0;
        height: 100%;
        .row {
            margin: 0;
            height: 100%;
            .setting-options {
                padding: 0;
                .tab-setting {
                    display: flex;
                    align-items: center;
                    background-color: white;
                    padding: 1rem 1.5rem;
                    border: $borderStyle;
                    border-right: none;
                    cursor: pointer;
                    transition: $baseTransition;
                    .icon {
                        margin-right: 0.5rem;
                        width: 1rem;
                        height: 1rem;
                    }
                    &:first-child {
                        border-top-left-radius: $borderRadius;
                    }
                    &:hover {
                        background-color: $lighterBaseColor;
                    }
                    &.active {
                        color: $baseColor;
                        background-color: $lighterBaseColor;
                        border-right: 3px solid $baseColor;
                    }
                }
            }
            .settings-content {
                padding: 0;
                .setting-content {
                    padding: 1rem;
                    border: none;
                    border-left: $borderStyle;
                    border-top-right-radius: $borderRadius;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .row {
                        margin: 0;
                        .content-col {
                            padding: 0;

                            &.image-col {
                                //padding-right: ;
                                display: flex;
                                justify-content: center;
                                .avatar {
                                    display: flex;
                                    justify-content: center;
                                    padding-top: 1rem;
                                    position: relative;
                                    width: fit-content;
                                    height: fit-content;
                                    img {
                                        width: 10rem;
                                        height: 10rem;
                                        border-radius: 500px;
                                    }
                                    .icon-container {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background-color: $baseColor;
                                        border-radius: 50px;
                                        position: absolute;
                                        bottom: 0.6rem;
                                        right: 0.6rem;
                                        padding: 0.5rem;
                                        cursor: pointer;
                                        .icon-edit-image {
                                            color: white;
                                            width: 1rem;
                                            height: 1rem;
                                        }
                                        &:hover {
                                            background-color: $baseColor;
                                        }
                                    }
                                }
                            }
                            &.info-col {
                                padding: 0.5rem 1rem;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: flex-end;
                                .form-groups {
                                    width: 100%;
                                    .form-group {
                                        margin-bottom: 2rem;
                                    }
                                    .input-label {
                                        //margin-left: 0.5rem;
                                        font-weight: bold;
                                        color: $subTextColor;
                                    }
                                    .form-control {
                                        color: $textColor;
                                    }
                                    input {
                                        border-radius: $borderRadius;
                                    }
                                }
                            }
                        }
                    }
                    &.setting-password-content {
                        padding: 2rem;
                        .form-group {
                            margin-bottom: 2rem;
                            width: 100%;
                        }
                        .input-label {
                            //margin-left: 0.5rem;
                            font-weight: bold;
                            color: $subTextColor;
                        }
                        .form-control {
                            color: $textColor;
                        }
                        input {
                            border-radius: $borderRadius;
                        }
                    }
                }
            }
        }
    }
}
.row {
    width: 100%;
}
.save-btn {
    @include NormalButtonStyle;
}
